In [71]:
import pandas as pd
import psycopg2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import base64
from io import BytesIO
from IPython.core.display import display, HTML, Markdown
from  matplotlib.colors import get_named_colors_mapping 
import re as regex
import altair as alt

In [68]:
def get_db():
    try: db.close()
    except:
        pass
    db = psycopg2.connect("host=localhost dbname=dns user=postgres password=postgres")
    return db



df_malware = pd.read_sql("SELECT * FROM malware", get_db())

df = df_malware.drop(columns=["id", "md5", "sha256", "mcfp_link", "example"], index=20)
df = df.rename(columns={
    "name": "probable name",
})[["probable name", "binary", "year"]]

df

               probable name       binary    year
0             Artemis Trojan         None  2017.0
1                    Navicat      105.exe  2013.0
2                    Necurse  sample1.exe  2016.0
3            HTBot/Proxyback         None  2015.0
4         Trojan.Win32.Yakes         None  2014.0
5                  Sathurbot         None  2017.0
6             Caphaw or Kazy         None  2014.0
7                     ZBot14     yL0T.exe  2014.0
8                      Tinba         None  2016.0
9                     Miuref         None  2016.0
10  Bunitu botnet (stripped)         None  2015.0
11                     Feodo         None  2015.0
12                    Feodo2         None  2015.0
13             virussign.com         None  2013.0
14                    Tinba2         None  2017.0
15               Worm.Netsky         None  2006.0
16                 8219s.exe    8219s.exe  2013.0
17                  Eudcedit   3ab45z.exe  2013.0
18                   mcfp_71         None  2014.0
19                    ZBot13   FzPfH6.exe  2013.0

In [245]:

df_malware = pd.read_sql("SELECT * FROM malware where name not like 'no-infection'", get_db())

df_malware["scode"] = ""

for idx, mw in df_malware.iterrows():
    df = pd.read_sql("SELECT * FROM pcap WHERE malware_id=%d" % mw["id"], get_db())
    df_malware.at[idx, "scode"] = df["name"].apply(lambda x: x[:x.find("_")]).drop_duplicates().to_numpy()

stratosphere = 'https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-'
vtotal = 'https://www.virustotal.com/gui/file/'
for _, mw in df_malware.sort_values(by="name").iterrows():
    scode = mw["scode"][0]
    display(Markdown("%03d: [%s](%s%s/): %s %s\t[vs](%s)" % (mw['id'], mw['name'], stratosphere, scode, mw['binary'], scode, mw["sha256"])))

027: [Artemis Trojan](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-305-1/): None 305-1	[vs](https://www.virustotal.com/gui/file/2cf3ad894277f9113acbe77b9ff22a31f5bc97758322e5d3d05f31e0bc7b56ed)

017: [Bunitu botnet (stripped)](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-140-2/): None 140-2	[vs](https://www.virustotal.com/gui/file/002e9d6217b17923b69710792fd85765c41a0fc5406ce6e1dbee3cc2ad82eca6)

007: [Caphaw or Kazy](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-69/): None 69	[vs](https://www.virustotal.com/gui/file/9966bc568225c509c3e3b3ff9f548ba59f39908200e3e8511e61a115be750f09)

008: [Eudcedit](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-6/): 3ab45z.exe 6	[vs](https://www.virustotal.com/gui/file/dc991de6ae9989902c1e59d30050223de5a0c1327c2e54e0f6da8134e3f447ca)

019: [Feodo](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-125-1/): None 125-1	[vs](https://www.virustotal.com/gui/file/ce0889dcae941653565fa2580ca1062173540a157c30173aca853fbee335df07)

020: [Feodo2](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-126-1/): None 126-1	[vs](https://www.virustotal.com/gui/file/4f236c31c1a9867013656960d11108f315a0f00f698a72836141082c7d9fce80)

002: [HTBot/Proxyback](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-111-3/): None 111-3	[vs](https://www.virustotal.com/gui/file/517da0900570ec9e9793d9e32a8445b5910b95618c4e1ea63da799d4a785dcd9)

015: [Miuref](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-169-1/): None 169-1	[vs](https://www.virustotal.com/gui/file/e12a2c2b633ac12cec3e0d32950dcd5011d2aba4a9b95506c0fd3913446d7c22)

001: [Navicat](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-10/): 105.exe 10	[vs](https://www.virustotal.com/gui/file/6b30c4d119f807f91020712adabfe435ac28e0dde458fe5d60a5b013611962a2)

003: [Necurse](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-170-1/): sample1.exe 170-1	[vs](https://www.virustotal.com/gui/file/b3ca90d4b289d31bbdefbff7d9b42bfeb0f44f97e4738c7c1b88e4cad59b6e9f)

005: [Sathurbot](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-301-1/): None 301-1	[vs](https://www.virustotal.com/gui/file/20ae9e5f8f26635c627afce5eaeeb749af459f55138c80f29da9d787ecc38f92)

014: [Tinba](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-166-1/): None 166-1	[vs](https://www.virustotal.com/gui/file/8006cbd1c70b2ed096af9c72d6fef2c3e9cb0a4168540897967e5d3bbb2331bc)

023: [Tinba2](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-225-1/): None 225-1	[vs](https://www.virustotal.com/gui/file/4904b2bfb4becf349662ba0ff6f3ade860c7e9086a674ee5e6f494e1a04bab03)

012: [Trojan.Win32.Yakes](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-100/): None 100	[vs](https://www.virustotal.com/gui/file/8bfa2d39be44de91958226983d983a07c1bcf75b007ab17b295215d08a63f032)

024: [Worm.Netsky](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-226-1/): None 226-1	[vs](https://www.virustotal.com/gui/file/c8fffb2e737514c551b2d7bcaf8baa459564b059cab1a35a3cec4b3c270d4525)

010: [ZBot13](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-7/): FzPfH6.exe 7	[vs](https://www.virustotal.com/gui/file/71644436abd1ba852778a8b4d148aa0f)

004: [ZBot14](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-25-2/): yL0T.exe 25-2	[vs](https://www.virustotal.com/gui/file/3fc6bef5eac0656be77f8e96f2b7e08cadb418c11430e8c3d53b33788a93c86a)

006: [ZeuS](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-5/): 8219s.exe 5	[vs](https://www.virustotal.com/gui/file/80334036d44bfa4a2bdc0fa5b75d015513d00e38f26f043fb7f26fabcad0c2b7)

009: [mcfp_71](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-71/): None 71	[vs](https://www.virustotal.com/gui/file/efe31de9456d2661a2026a4bac9ebf1061b74290010aef95f11bab8c21241c59)

022: [virussign.com](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-16/): None 16	[vs](https://www.virustotal.com/gui/file/bab391b77129150445521fddc073997ca6c7cb3db35eb1a7c45c65ca365370c3)

In [211]:
# MW = 6
mwid = 6
df = pd.read_sql("SELECT * FROM dn_distribution_per_mw WHERE mwid = '%d' ORDER BY nx DESC" % mwid, get_db())

print(pd.set_option('display.max_colwidth', 1000))
#display(Markdown("## Top10m is NaN and nx>0"))
#isplay(df[(df["top10m"].isna()) & (df["nx"] > 10)])

#display(Markdown("## Top10m is NaN"))
#display(df[df["top10m"].isna()])

#display(Markdown("## Top10m >= 1000000"))
#display(df[df["top10m"] >= 1_000_000].head(10))

#display(Markdown("## Top10m < 1000000"))
#display(df[df["top10m"] < 1_000_000].head(10))

df = df[(df["top10m"].isna()) & (df["nx"] > 10)]
df["bibo"] = df.nx // 20

def to_tabular(x):
    col = 3
    x = x.to_numpy()
    result = np.empty((col*(x.shape[0] // col + 1)), dtype=object)
    result[:x.shape[0]] = x
    x = np.reshape(result, (-1, col))
    dfx = pd.DataFrame(x)
    tab = "\\begin{tabular}{lll}"
    for _,y in dfx.iterrows():
        fmt_str = ("%s & " * (col-1) + " %s \\\\")
        tab += fmt_str % tuple(y.to_numpy())
    tab += "\\end{tabular}"
    return tab

df = df.groupby("bibo").aggregate({
    "dn": to_tabular,
    "nosfx": "mean",
    "ok": "mean",
    "nx": "mean",
    "app": "mean"
})

df["nx/app"] = df.nx.astype(float) / df.app.astype(float)

df.ok = df.nx.astype(int)
df.nx = df.nx.astype(int)
df.app = df.app.astype(int)
df["nx/app"] = (df["nx/app"]*100).astype(int).astype(str) + "\\%"

print(df.sort_values("app", ascending=False).to_latex(index=False, escape=False).replace("None", ""))

None
\begin{tabular}{lrrrrl}
\toprule
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               dn &         nosfx &    ok &    nx &   app & nx/app \\
                                                                                                                                                                                                                                                                                                                                                                                                                                             \begin{tabular}{lll}honey-do-this.com &  &   \\\end{tabular} &  8.864477e-05 &  1982 &  1982 &  3981 &   49\% \\
\midrule
                                                                                                                                                                                                                                                                                                                           \begin{tabular}{lll}gcse.comgcse.com & elijahsfm.com &  dynranver.com \\stost.farantly.com & intelution.net &  sakscouponhq.com \\modelplays.com & taithes.com &   \\\end{tabular} &  1.532394e-01 &   161 &   161 &   323 &   49\% \\
 \begin{tabular}{lll}leecheomaki.com & mx5.drilltick.com &  ghettorise.com \\gamingtrips.com & tableonion.com &  accesgratos.com \\elipey.com & cartermashek.com &  lefkoffrubin.com \\hbulbous.net & digbuyzones.com &  sheetvally.com \\taylormadego.com & holehotsauce.com &  echineia.com \\byownersfinest.com & flashdrivea.com &  hl-dispkay.com \\satizern.net & carrotamber.com &  bdts.net \\momentmodele.com & bessyrrlyn.com &  tachja.com \\spikewing.com & theeaglecrest.com &   \\\end{tabular} &  8.145114e-02 &   156 &   156 &   314 &   49\% \\
                                                                                                                                                                                                                                                                                                                                                                                            \begin{tabular}{lll}lenderace.in & ikesreget.in &  holdingvat.in \\amarplud.in & fuhnvanir.in &   \\\end{tabular} &  1.537333e-02 &   112 &   112 &   224 &   49\% \\
                                                                                                                                                                                                                                                                                                                                        \begin{tabular}{lll}back3sea.info & mura.forgreen.info &  peb.com.br \\greenpotato.info & cotoffroad.info &  melegg.info \\lenderture.info &  &   \\\end{tabular} &  3.574779e-04 &    73 &    73 &   146 &   49\% \\
                                                                                                                                                                                                                                                                                                                                                                                                   \begin{tabular}{lll}dem & avictorias.com.bak-mx.na0108.smtbak.com &  comq \\hlp & jjro &   \\\end{tabular} &  7.003262e-07 &    12 &    12 &    26 &   45\% \\
\bottomrule
\end{tabular}

In [209]:
mwid = 27
df = pd.read_sql("SELECT * FROM dn_distribution_per_mw WHERE mwid = '%d' ORDER BY nx DESC" % mwid, get_db())

print(pd.set_option('display.max_colwidth', 1000))

display(Markdown("## Top10m >= 0"))
display(df[df["top10m"] >= 0].head(10))

df = df[df["top10m"].isna()]
df = df[~df["dn"].str.contains("cloudfront.net")]
df = df[~df["dn"].str.contains("amazonaws.com")]

display(Markdown("## Top10m is NaN"))
display(df[df["top10m"].isna()])


def to_tabular(x):
    col = 3
    x = x.to_numpy()
    result = np.empty((col*(x.shape[0] // col + 1)), dtype=object)
    result[:x.shape[0]] = x
    x = np.reshape(result, (-1, col))
    dfx = pd.DataFrame(x)
    tab = "\\begin{tabular}{lll}"
    for _,y in dfx.iterrows():
        fmt_str = ("%s & " * (col-1) + " %s \\\\")
        tab += fmt_str % tuple(y.to_numpy())
    tab += "\\end{tabular}"
    return tab

df["nx/app"] = df.nx.astype(float) / df.app.astype(float)

df.ok = df.nx.astype(int)
df.nx = df.nx.astype(int)
df.app = df.app.astype(int)
df["nx/app"] = (df["nx/app"]*100).astype(int).astype(str) + "\\%"

print(df.sort_values("app", ascending=False).to_latex(index=False, escape=False).replace("None", ""))

None

## Top10m >= 0

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
1,27,Artemis Trojan,692238,safebrowsing-cache.google.com,3.0,0.000028,5312,5312,0,0
2,27,Artemis Trojan,692231,safebrowsing.google.com,3.0,0.000007,2780,2780,0,0
3,27,Artemis Trojan,741512,safebrowsing.cache.l.google.com,3.0,0.000014,2656,2656,0,0
4,27,Artemis Trojan,741511,sb.l.google.com,3.0,0.000011,1390,1390,0,0
5,27,Artemis Trojan,688350,shavar.services.mozilla.com,3536.0,0.000003,1388,1388,0,0
6,27,Artemis Trojan,741502,shavar.prod.mozaws.net,888259.0,0.000002,694,694,0,0
7,27,Artemis Trojan,688358,aus5.mozilla.org,88.0,0.000002,220,220,0,0
8,27,Artemis Trojan,692269,ocsp.digicert.com,8944.0,0.000008,112,112,0,0
9,27,Artemis Trojan,741517,balrog-aus5.r53-2.services.mozilla.com,3536.0,0.000016,110,110,0,0
10,27,Artemis Trojan,688338,incoming.telemetry.mozilla.org,88.0,0.000018,102,102,0,0

## Top10m is NaN

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
0,27,Artemis Trojan,685637,wpad.lan,NaN,0.000000,4,2,2,0
17,27,Artemis Trojan,741497,cs9.wac.phicdn.net,NaN,0.000015,52,52,0,0
68,27,Artemis Trojan,741491,cf0c69c2d0e0da8e900b06509bbc7077.acn.name,NaN,0.000290,636018,636018,0,0

\begin{tabular}{rlrlrrrrrrl}
\toprule
 mwid &          mwname &   dn_id &                                         dn &  top10m &     nosfx &     app &  ok &  nx &  no & nx/app \\
\midrule
   27 &  Artemis Trojan &  741491 &  cf0c69c2d0e0da8e900b06509bbc7077.acn.name &     NaN &  0.000290 &  636018 &   0 &   0 &   0 &    0\% \\
   27 &  Artemis Trojan &  741497 &                         cs9.wac.phicdn.net &     NaN &  0.000015 &      52 &   0 &   0 &   0 &    0\% \\
   27 &  Artemis Trojan &  685637 &                                   wpad.lan &     NaN &  0.000000 &       4 &   2 &   2 &   0 &   50\% \\
\bottomrule
\end{tabular}

In [220]:
# MW = 6
mwid = 17
df = pd.read_sql("SELECT * FROM dn_distribution_per_mw WHERE mwid = '%d' ORDER BY nx DESC" % mwid, get_db())

display(Markdown("# %s" % (df['mwname'].iloc[0])))

display(Markdown("## Top10m is NaN and nx>0"))
display(df[(df["top10m"].isna()) & (df["nx"] > 10)])
print(df[(df["top10m"].isna()) & (df["nx"] > 0)].to_latex())

display(Markdown("## Top10m is NaN"))
display(df[df["top10m"].isna()])

#display(Markdown("## Top10m >= 1000000"))
#display(df[df["top10m"] >= 1_000_000].head(10))

df_whoer = df[df.dn.str.find("whoer.net") > 0].copy()

display(Markdown("## Containing 'whoer.net'"))
display(df_whoer)

print(df_whoer.to_latex())

df = df[(df["top10m"].isna()) & (df["nx"] > 10)]
df["bibo"] = df.nx // 20

def to_tabular(x):
    col = 3
    x = x.to_numpy()
    result = np.empty((col*(x.shape[0] // col + 1)), dtype=object)
    result[:x.shape[0]] = x
    x = np.reshape(result, (-1, col))
    dfx = pd.DataFrame(x)
    tab = "\\begin{tabular}{lll}"
    for _,y in dfx.iterrows():
        fmt_str = ("%s & " * (col-1) + " %s \\\\")
        tab += fmt_str % tuple(y.to_numpy())
    tab += "\\end{tabular}"
    return tab

df = df.groupby("bibo").aggregate({
    "dn": to_tabular,
    "nosfx": "mean",
    "ok": "mean",
    "nx": "mean",
    "app": "mean"
})

df["nx/app"] = df.nx.astype(float) / df.app.astype(float)

df.ok = df.nx.astype(int)
df.nx = df.nx.astype(int)
df.app = df.app.astype(int)
df["nx/app"] = (df["nx/app"]*100).astype(int).astype(str) + "\\%"

print(df.sort_values("app", ascending=False).to_latex(index=False, escape=False).replace("None", ""))

# Bunitu botnet (stripped)

## Top10m is NaN and nx>0

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
0,17,Bunitu botnet (stripped),692770,ns8.joinparty4more.xyz,NaN,0.000053,21673,11478,10194,0
1,17,Bunitu botnet (stripped),692771,ns0.joinparty4more.xyz,NaN,0.000007,21390,11203,10187,0

\begin{tabular}{lrlrlrrrrrr}
\toprule
{} &  mwid &                    mwname &   dn\_id &                      dn &  top10m &     nosfx &    app &     ok &     nx &  no \\
\midrule
0 &    17 &  Bunitu botnet (stripped) &  692770 &  ns8.joinparty4more.xyz &     NaN &  0.000053 &  21673 &  11478 &  10194 &   0 \\
1 &    17 &  Bunitu botnet (stripped) &  692771 &  ns0.joinparty4more.xyz &     NaN &  0.000007 &  21390 &  11203 &  10187 &   0 \\
\bottomrule
\end{tabular}

## Top10m is NaN

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
0,17,Bunitu botnet (stripped),692770,ns8.joinparty4more.xyz,NaN,0.000053,21673,11478,10194,0
1,17,Bunitu botnet (stripped),692771,ns0.joinparty4more.xyz,NaN,0.000007,21390,11203,10187,0
69,17,Bunitu botnet (stripped),686963,server.adformdsp.net,NaN,0.000162,40,40,0,0
76,17,Bunitu botnet (stripped),687272,translate.googleapis.com,NaN,0.190696,37,37,0,0
82,17,Bunitu botnet (stripped),692826,dev.iias.eu,NaN,0.000168,34,34,0,0
...,...,...,...,...,...,...,...,...,...,...
589,17,Bunitu botnet (stripped),692960,ads.traffichunt.com,NaN,0.000297,2,2,0,0
606,17,Bunitu botnet (stripped),692772,ns1.joinparty4more.xyz,NaN,0.000007,29145,29145,0,0
610,17,Bunitu botnet (stripped),692780,cdn.wdrimg.com,NaN,0.305926,359,359,0,0
621,17,Bunitu botnet (stripped),692795,feed.solads.media,NaN,0.000002,130,130,0,0
623,17,Bunitu botnet (stripped),692801,soundwave.bnmla.com,NaN,0.006932,124,124,0,0

## Containing 'whoer.net'

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
2,17,Bunitu botnet (stripped),692946,bjjwf1446610.br.whoer.net,366326.0,0.000088,6,3,3,0
3,17,Bunitu botnet (stripped),693175,dnfzm1447306.br.whoer.net,366326.0,0.000041,6,3,3,0
4,17,Bunitu botnet (stripped),693020,ovzfn1446717.br.whoer.net,366326.0,0.000034,9,6,3,0
5,17,Bunitu botnet (stripped),693102,odzhn1447289.br.whoer.net,366326.0,0.000003,8,5,3,0
7,17,Bunitu botnet (stripped),693021,preop1446717.br.whoer.net,366326.0,0.000002,6,4,2,0
8,17,Bunitu botnet (stripped),692947,jjuvw1446577.br.whoer.net,366326.0,0.000042,5,3,2,0
9,17,Bunitu botnet (stripped),693103,lidlf1447289.br.whoer.net,366326.0,0.000119,4,2,2,0
10,17,Bunitu botnet (stripped),693023,atohy1446717.br.whoer.net,366326.0,0.000005,4,2,2,0
11,17,Bunitu botnet (stripped),692949,zsklh1446610.br.whoer.net,366326.0,0.000079,4,2,2,0
12,17,Bunitu botnet (stripped),693040,iwqbd1446779.br.whoer.net,366326.0,0.000050,4,2,2,0
13,17,Bunitu botnet (stripped),692913,rynic1446262.br.whoer.net,366326.0,0.000130,4,2,2,0
14,17,Bunitu botnet (stripped),692912,kilgc1446218.br.whoer.net,366326.0,0.000115,4,2,2,0
15,17,Bunitu botnet (stripped),693022,tdoyt1446716.br.whoer.net,366326.0,0.000227,5,4,1,0
16,17,Bunitu botnet (stripped),692948,wvmjd1446566.br.whoer.net,366326.0,0.000476,2,1,1,0
17,17,Bunitu botnet (stripped),693101,eipke1447289.br.whoer.net,366326.0,0.000001,2,1,1,0

\begin{tabular}{lrlrlrrrrrr}
\toprule
{} &  mwid &                    mwname &   dn\_id &                         dn &    top10m &     nosfx &  app &  ok &  nx &  no \\
\midrule
2  &    17 &  Bunitu botnet (stripped) &  692946 &  bjjwf1446610.br.whoer.net &  366326.0 &  0.000088 &    6 &   3 &   3 &   0 \\
3  &    17 &  Bunitu botnet (stripped) &  693175 &  dnfzm1447306.br.whoer.net &  366326.0 &  0.000041 &    6 &   3 &   3 &   0 \\
4  &    17 &  Bunitu botnet (stripped) &  693020 &  ovzfn1446717.br.whoer.net &  366326.0 &  0.000034 &    9 &   6 &   3 &   0 \\
5  &    17 &  Bunitu botnet (stripped) &  693102 &  odzhn1447289.br.whoer.net &  366326.0 &  0.000003 &    8 &   5 &   3 &   0 \\
7  &    17 &  Bunitu botnet (stripped) &  693021 &  preop1446717.br.whoer.net &  366326.0 &  0.000002 &    6 &   4 &   2 &   0 \\
8  &    17 &  Bunitu botnet (stripped) &  692947 &  jjuvw1446577.br.whoer.net &  366326.0 &  0.000042 &    5 &   3 &   2 &   0 \\
9  &    17 &  Bunitu botnet (stripped) &  693103 &  lidlf1447289.br.whoer.net &  366326.0 &  0.000119 &    4 &   2 &   2 &   0 \\
10 &    17 &  Bunitu botnet (stripped) &  693023 &  atohy1446717.br.whoer.net &  366326.0 &  0.000005 &    4 &   2 &   2 &   0 \\
11 &    17 &  Bunitu botnet (stripped) &  692949 &  zsklh1446610.br.whoer.net &  366326.0 &  0.000079 &    4 &   2 &   2 &   0 \\
12 &    17 &  Bunitu botnet (stripped) &  693040 &  iwqbd1446779.br.whoer.net &  366326.0 &  0.000050 &    4 &   2 &   2 &   0 \\
13 &    17 &  Bunitu botnet (stripped) &  692913 &  rynic1446262.br.whoer.net &  366326.0 &  0.000130 &    4 &   2 &   2 &   0 \\
14 &    17 &  Bunitu botnet (stripped) &  692912 &  kilgc1446218.br.whoer.net &  366326.0 &  0.000115 &    4 &   2 &   2 &   0 \\
15 &    17 &  Bunitu botnet (stripped) &  693022 &  tdoyt1446716.br.whoer.net &  366326.0 &  0.000227 &    5 &   4 &   1 &   0 \\
16 &    17 &  Bunitu botnet (stripped) &  692948 &  wvmjd1446566.br.whoer.net &  366326.0 &  0.000476 &    2 &   1 &   1 &   0 \\
17 &    17 &  Bunitu botnet (stripped) &  693101 &  eipke1447289.br.whoer.net &  366326.0 &  0.000001 &    2 &   1 &   1 &   0 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrl}
\toprule
                                                                                          dn &    nosfx &     ok &     nx &    app & nx/app \\
 \begin{tabular}{lll}ns8.joinparty4more.xyz & ns0.joinparty4more.xyz &   \\\end{tabular} &  0.00003 &  10190 &  10190 &  21531 &   47\% \\
\bottomrule
\end{tabular}

In [235]:
# MW = 7
mwid = 7
df = pd.read_sql("SELECT * FROM dn_distribution_per_mw WHERE mwid = '%d' ORDER BY nx DESC" % mwid, get_db())

display(Markdown("# %s" % (df['mwname'].iloc[0])))

display(Markdown("## Top10m is NaN and nx>0"))
display(df[(df["top10m"].isna()) & (df["nx"] > 0)])

df = df[(df["top10m"].isna()) & (df["nx"] > 0)]
df["bibo"] = df.nx // 2

def to_tabular(x):
    col = 3
    x = x[:10].to_numpy()
    result = np.empty((col*(x.shape[0] // col + 1)), dtype=object)
    result[:x.shape[0]] = x
    x = np.reshape(result, (-1, col))
    dfx = pd.DataFrame(x)
    tab = "\\begin{tabular}{lll}"
    for _,y in dfx.iterrows():
        fmt_str = ("%s & " * (col-1) + " %s \\\\")
        tab += fmt_str % tuple(y.to_numpy())
    tab += "\\end{tabular}"
    return tab

df = df.groupby("nx").aggregate({
    "dn": ["count", to_tabular],
    "nosfx": "mean",
    "ok": "mean",
    "nx": "mean",
    "app": ["sum", "mean"]
})

display(df)
#df["nx/app"] = df.nx.astype(float) / df[('app', 'mean')].astype(float)

df.ok = df.nx.astype(int)
df.nx = df.nx.astype(int)
df.app = df.app.astype(int)
#df["nx/app"] = (df["nx/app"]*100).astype(int).astype(str) + "\\%"

print(df.to_latex(index=False, escape=False).replace("None", ""))

# Caphaw or Kazy

## Top10m is NaN and nx>0

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
0,7,Caphaw or Kazy,764121,smis.cc,NaN,0.000660,6729,4344,2385,0
1,7,Caphaw or Kazy,764122,pcg.su,NaN,0.000158,4638,2813,1825,0
2,7,Caphaw or Kazy,764126,ccl.su,NaN,0.002866,5275,3726,1411,0
3,7,Caphaw or Kazy,764644,leq.su,NaN,0.000867,5674,5526,58,0
4,7,Caphaw or Kazy,765193,paly.cc,NaN,0.000054,1228,1168,57,0
...,...,...,...,...,...,...,...,...,...,...
5550,7,Caphaw or Kazy,769267,kdwelwg.pcg.su,NaN,0.000027,2,1,1,0
5551,7,Caphaw or Kazy,769266,6ugu0i24s9hzu79ty1.smis.cc,NaN,0.000097,2,1,1,0
5552,7,Caphaw or Kazy,769265,r8u312fymxzv.smis.cc,NaN,0.000273,2,1,1,0
5553,7,Caphaw or Kazy,769264,4sesxitl4z061.ccl.su,NaN,0.000007,2,1,1,0
5554,7,Caphaw or Kazy,769263,yrymw1pf5g4dy5n.pcg.su,NaN,0.004271,2,1,1,0

        dn  \
     count
nx
1     5316
2      224
3        8
5        1
57       2
58       1
1411     1
1825     1
2385     1

                                                                                                                                                                                                                                                                                               \
                                                                                                                                                                                                                                                                                   to_tabular
nx
1           \begin{tabular}{lll}tbzd6ujjc452e5q.smis.cc & o60g9jj1.smis.cc &  wmcnmyv8uw8t.pcg.su \\c9l95y5s52f058.pcg.su & 8sfgi36deih.pcg.su &  b9qcljkxg.pcg.su \\1hr5cqn.smis.cc & 860ds58evj804cxir.smis.cc &  kvtg3fqs.smis.cc \\x7hcmavd6q7ie5i.smis.cc & None &  None \\\end{tabular}
2     \begin{tabular}{lll}69y0kqpdl98d.smis.cc & 99ayuly230c2q6gt39.ccl.su &  nj0a9uq85ct41q.smis.cc \\0gfgg6vbj2v.smis.cc & v8vtg4cz2w59dm.smis.cc &  nd1kksgfjx.smis.cc \\92dbxopy5.smis.cc & mil5x7mpe.smis.cc &  1vo9keq7c.smis.cc \\b2w58gdusxkeq.smis.cc & None &  None \\\end{tabular}
3                                                                 \begin{tabular}{lll}m4xhy95w9eci4z8.pcg.su & qr07rtf.smis.cc &  m859dl7o.pcg.su \\tvlvnj61g1t2j.smis.cc & 224puvd2bkwm9uq.ccl.su &  381z3ubp1m.pcg.su \\rxt3afwye90rkuw.pcg.su & jv50ivmsn2w.ccl.su &  None \\\end{tabular}
5                                                                                                                                                                                                                                  \begin{tabular}{lll}sags.cc & None &  None \\\end{tabular}
57                                                                                                                                                                                                                               \begin{tabular}{lll}paly.cc & jcy.su &  None \\\end{tabular}
58                                                                                                                                                                                                                                  \begin{tabular}{lll}leq.su & None &  None \\\end{tabular}
1411                                                                                                                                                                                                                                \begin{tabular}{lll}ccl.su & None &  None \\\end{tabular}
1825                                                                                                                                                                                                                                \begin{tabular}{lll}pcg.su & None &  None \\\end{tabular}
2385                                                                                                                                                                                                                               \begin{tabular}{lll}smis.cc & None &  None \\\end{tabular}

         nosfx           ok    nx    app
          mean         mean  mean    sum         mean
nx
1     0.072297     1.006208     1  10669     2.006960
2     0.074752     2.004464     2    897     4.004464
3     0.249938     3.000000     3     48     6.000000
5     0.001651  2191.000000     5   2196  2196.000000
57    0.000935  3858.000000    57   7875  3937.500000
58    0.000867  5526.000000    58   5674  5674.000000
1411  0.002866  3726.000000  1411   5275  5275.000000
1825  0.000158  2813.000000  1825   4638  4638.000000
2385  0.000660  4344.000000  2385   6729  6729.000000

\begin{tabular}{rlrrrrr}
\toprule
   dn &     nosfx &    ok &    nx & \multicolumn{2}{l}{app} \\
count &                                                                                                                                                                                                                                                                               to_tabular &      mean &  mean &  mean &    sum &  mean \\
 5316 &        \begin{tabular}{lll}tbzd6ujjc452e5q.smis.cc & o60g9jj1.smis.cc &  wmcnmyv8uw8t.pcg.su \\c9l95y5s52f058.pcg.su & 8sfgi36deih.pcg.su &  b9qcljkxg.pcg.su \\1hr5cqn.smis.cc & 860ds58evj804cxir.smis.cc &  kvtg3fqs.smis.cc \\x7hcmavd6q7ie5i.smis.cc &  &   \\\end{tabular} &  0.072297 &     1 &     1 &  10669 &     2 \\
\midrule
  224 &  \begin{tabular}{lll}69y0kqpdl98d.smis.cc & 99ayuly230c2q6gt39.ccl.su &  nj0a9uq85ct41q.smis.cc \\0gfgg6vbj2v.smis.cc & v8vtg4cz2w59dm.smis.cc &  nd1kksgfjx.smis.cc \\92dbxopy5.smis.cc & mil5x7mpe.smis.cc &  1vo9keq7c.smis.cc \\b2w58gdusxkeq.smis.cc &  &   \\\end{tabular} &  0.074752 &     2 &     2 &    897 &     4 \\
    8 &                                                              \begin{tabular}{lll}m4xhy95w9eci4z8.pcg.su & qr07rtf.smis.cc &  m859dl7o.pcg.su \\tvlvnj61g1t2j.smis.cc & 224puvd2bkwm9uq.ccl.su &  381z3ubp1m.pcg.su \\rxt3afwye90rkuw.pcg.su & jv50ivmsn2w.ccl.su &   \\\end{tabular} &  0.249938 &     3 &     3 &     48 &     6 \\
    1 &                                                                                                                                                                                                                               \begin{tabular}{lll}sags.cc &  &   \\\end{tabular} &  0.001651 &     5 &     5 &   2196 &  2196 \\
    2 &                                                                                                                                                                                                                             \begin{tabular}{lll}paly.cc & jcy.su &   \\\end{tabular} &  0.000935 &    57 &    57 &   7875 &  3937 \\
    1 &                                                                                                                                                                                                                                \begin{tabular}{lll}leq.su &  &   \\\end{tabular} &  0.000867 &    58 &    58 &   5674 &  5674 \\
    1 &                                                                                                                                                                                                                                \begin{tabular}{lll}ccl.su &  &   \\\end{tabular} &  0.002866 &  1411 &  1411 &   5275 &  5275 \\
    1 &                                                                                                                                                                                                                                \begin{tabular}{lll}pcg.su &  &   \\\end{tabular} &  0.000158 &  1825 &  1825 &   4638 &  4638 \\
    1 &                                                                                                                                                                                                                               \begin{tabular}{lll}smis.cc &  &   \\\end{tabular} &  0.000660 &  2385 &  2385 &   6729 &  6729 \\
\bottomrule
\end{tabular}

In [242]:
# MW = 8
mwid = 8
df = pd.read_sql("SELECT * FROM dn_distribution_per_mw WHERE mwid = '%d' ORDER BY nx DESC" % mwid, get_db())

display(Markdown("# %s" % (df['mwname'].iloc[0])))

display(Markdown("## Top10m is NaN and nx>0"))
display(df[(df["top10m"].isna()) & (df["nx"] > 0)])


display(Markdown("## Top10m > 1_000_000"))
display(df[(df["top10m"] > 1_000_000)])


display(Markdown("## Top10m < 1_000_000"))
display(df[(df["top10m"] < 1_000_000)])

df = df[(df["top10m"].isna()) & (df["nx"] > 0)]
df["bibo"] = df.nx // 10

def to_tabular(x):
    col = 2
    x = x[:6].to_numpy()
    result = np.empty((col*(x.shape[0] // col + 1)), dtype=object)
    result[:x.shape[0]] = x
    x = np.reshape(result, (-1, col))
    dfx = pd.DataFrame(x)
    tab = "\\begin{tabular}{lll}"
    for _,y in dfx.iterrows():
        fmt_str = ("%s & " * (col-1) + " %s \\\\")
        tab += fmt_str % tuple(y.to_numpy())
    tab += "\\end{tabular}"
    return tab

df = df.groupby("bibo").aggregate({
    "dn": ["count", to_tabular],
    "nosfx": "mean",
    "ok": "mean",
    "nx": "mean",
    "app": ["sum", "mean"]
})

display(df)
#df["nx/app"] = df.nx.astype(float) / df[('app', 'mean')].astype(float)

df.ok = df.nx.astype(int)
df.nx = df.nx.astype(int)
df.app = df.app.astype(int)
#df["nx/app"] = (df["nx/app"]*100).astype(int).astype(str) + "\\%"

print(df.to_latex(index=False, escape=False).replace("None", ""))

# Eudcedit

## Top10m is NaN and nx>0

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
0,8,Eudcedit,749965,uprgitcidqeceynvcapvmzp.com,NaN,0.999999,284,142,142,0
1,8,Eudcedit,750057,hyzdxwtwxexwjndnbsjv.com,NaN,0.999973,284,142,142,0
2,8,Eudcedit,750136,tteyzamuwfyjnkzqwoztlvdsc.net,NaN,1.000000,282,141,141,0
3,8,Eudcedit,750052,ytsxgqtvgmnsjrvgvkhxpzh.net,NaN,0.999996,282,141,141,0
4,8,Eudcedit,750741,krnxkvyhfqnfeupzuwcyuweazxs.org,NaN,0.999998,281,140,141,0
...,...,...,...,...,...,...,...,...,...,...
5557,8,Eudcedit,757538,zdxvkozzhtsponmvzhifkzih.com,NaN,0.999999,2,1,1,0
5558,8,Eudcedit,757539,vkbhxgpzaetprvggyawcirltvo.net,NaN,0.999945,2,1,1,0
5559,8,Eudcedit,757540,vsirhkvswobcgyduemzvkqwypt.com,NaN,0.999991,2,1,1,0
5560,8,Eudcedit,757541,hqwcrkrkvrssgpvsgmscvcaqib.net,NaN,0.999997,2,1,1,0
5561,8,Eudcedit,757542,cevthobgtcetwmzxcq.com,NaN,0.999904,2,1,1,0

## Top10m > 1_000_000

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
4625,8,Eudcedit,761564,ns3.scoastnet.com.au,7435356.0,0.000004,4,3,1,0
5565,8,Eudcedit,751039,lansdownecollege.com,8276925.0,0.000002,36,36,0,0
5566,8,Eudcedit,761373,netpower.no,3958690.0,0.000080,36,36,0,0
5572,8,Eudcedit,751055,hoymail.com,8136169.0,0.004452,35,35,0,0
5574,8,Eudcedit,649579,embarqmail.com,3989674.0,0.000362,34,34,0,0
...,...,...,...,...,...,...,...,...,...,...
6127,8,Eudcedit,761613,ns1.eis.net.au,5588533.0,0.000002,2,2,0,0
6129,8,Eudcedit,761615,dns11.domainnetwork.com,3346741.0,0.000001,2,2,0,0
6133,8,Eudcedit,681399,pridns.qala.com.sg,4656787.0,0.000099,2,2,0,0
6142,8,Eudcedit,672296,ns1.bluecentral.com,9548851.0,0.000005,2,2,0,0
6146,8,Eudcedit,668888,ns11.netregistry.net,5790259.0,0.000002,2,2,0,0

## Top10m < 1_000_000

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
5562,8,Eudcedit,649560,email.msn.com,628.0,0.002983,38,38,0,0
5564,8,Eudcedit,649610,cfl.rr.com,65229.0,0.000019,37,37,0,0
5567,8,Eudcedit,761372,sympatico.ca,22898.0,0.001925,36,36,0,0
5568,8,Eudcedit,761361,hawaii.rr.com,65229.0,0.071104,36,36,0,0
5570,8,Eudcedit,761348,staples.com,4635.0,0.000648,36,36,0,0
...,...,...,...,...,...,...,...,...,...,...
6105,8,Eudcedit,761565,ns2184.dns.dyn.com,10307.0,0.002686,2,2,0,0
6111,8,Eudcedit,761572,ns17.zoneedit.com,99636.0,0.000005,2,2,0,0
6140,8,Eudcedit,675743,ns2.iinet.net.au,18110.0,0.000042,2,2,0,0
6141,8,Eudcedit,675713,ns10.dnsmadeeasy.com,194373.0,0.000003,2,2,0,0
6143,8,Eudcedit,671539,ns2.no-ip.com,10530.0,0.000001,2,2,0,0

        dn  \
     count
bibo
0     1582
2        2
4      990
5      995
13    1900
14      92

                                                                                                                                                                                                                                                                    \
                                                                                                                                                                                                                                                        to_tabular
bibo
0            \begin{tabular}{lll}jflmjhtlbmcmgehkrjbozvc.ru &  usjrxoqusltkibfqukbutsydifkn.net \\lfubemhfapxgceojhasemhuus.net &  oflbmjpduntgydebamrxtgcyto.biz \\sopjvugfwqpztjzofnzaeizxs.com &  njinxgqshainqsmnbeqgjzlzhi.org \\None &  None \\\end{tabular}
2                                                                                                                                                \begin{tabular}{lll}hmraeqijkjzluxpxrclfyeqs.info &  hmraeqijkjzluxpxrclfyeqs.info \\None &  None \\\end{tabular}
4     \begin{tabular}{lll}vwhuojifduceireuyxtlrmrhfyyd.com &  mzinqucuwdqofideifiwoqkvsha.com \\xgxginbeojyukojxlzdozmbkjvw.org &  dixoxeqjfbiyrgamvvoydlrjtk.com \\wslfaqdtkkbxghepjhdwgfqyl.ru &  pqcmrwsnjxojnzpjurkwdakjdmd.org \\None &  None \\\end{tabular}
5                      \begin{tabular}{lll}gmfqfutkrpgaytbhrclz.com &  qnbwovsbihukbmrpztjnlijtw.info \\trsuxsemnifzdeyijxwqpirukt.org &  pzppraulmvizhyvibojaebycqjb.com \\lrwqwojzdnrovhfmizbe.org &  zxdeqgcebqypeythskjrpnr.com \\None &  None \\\end{tabular}
13      \begin{tabular}{lll}xzthdexbqlrgqcdajnvoddlfyh.com &  sgcuwgausswxcxtzyhobeap.org \\ydsklbkjaydeaixkfybexemmvqwmj.ru &  wseajflswoqgdunvtlwcqglnhh.net \\wseajflswoqgdunvtlwcqglnhh.net &  njzdvcguxkjvzpnrjrcyheojxobpv.ru \\None &  None \\\end{tabular}
14                   \begin{tabular}{lll}uprgitcidqeceynvcapvmzp.com &  hyzdxwtwxexwjndnbsjv.com \\tteyzamuwfyjnkzqwoztlvdsc.net &  ytsxgqtvgmnsjrvgvkhxpzh.net \\krnxkvyhfqnfeupzuwcyuweazxs.org &  ifnjcavyljzcelbafutijamfazg.ru \\None &  None \\\end{tabular}

         nosfx          ok          nx     app
          mean        mean        mean     sum        mean
bibo
0     0.996627    1.064475    1.024652    3305    2.089128
2     0.999997  200.500000   24.500000     450  225.000000
4     0.998914   48.648485   48.353535   96032   97.002020
5     0.999925   56.012060   55.993970  111446  112.006030
13    0.998989  137.654211  137.535263  522860  275.189474
14    0.999788  139.923913  140.119565   25764  280.043478

\begin{tabular}{rlrrrrr}
\toprule
   dn &     nosfx &   ok &   nx & \multicolumn{2}{l}{app} \\
count &                                                                                                                                                                                                                                                    to_tabular &      mean & mean & mean &     sum & mean \\
 1582 &         \begin{tabular}{lll}jflmjhtlbmcmgehkrjbozvc.ru &  usjrxoqusltkibfqukbutsydifkn.net \\lfubemhfapxgceojhasemhuus.net &  oflbmjpduntgydebamrxtgcyto.biz \\sopjvugfwqpztjzofnzaeizxs.com &  njinxgqshainqsmnbeqgjzlzhi.org \\ &   \\\end{tabular} &  0.996627 &    1 &    1 &    3305 &    2 \\
\midrule
    2 &                                                                                                                                             \begin{tabular}{lll}hmraeqijkjzluxpxrclfyeqs.info &  hmraeqijkjzluxpxrclfyeqs.info \\ &   \\\end{tabular} &  0.999997 &   24 &   24 &     450 &  225 \\
  990 &  \begin{tabular}{lll}vwhuojifduceireuyxtlrmrhfyyd.com &  mzinqucuwdqofideifiwoqkvsha.com \\xgxginbeojyukojxlzdozmbkjvw.org &  dixoxeqjfbiyrgamvvoydlrjtk.com \\wslfaqdtkkbxghepjhdwgfqyl.ru &  pqcmrwsnjxojnzpjurkwdakjdmd.org \\ &   \\\end{tabular} &  0.998914 &   48 &   48 &   96032 &   97 \\
  995 &                   \begin{tabular}{lll}gmfqfutkrpgaytbhrclz.com &  qnbwovsbihukbmrpztjnlijtw.info \\trsuxsemnifzdeyijxwqpirukt.org &  pzppraulmvizhyvibojaebycqjb.com \\lrwqwojzdnrovhfmizbe.org &  zxdeqgcebqypeythskjrpnr.com \\ &   \\\end{tabular} &  0.999925 &   55 &   55 &  111446 &  112 \\
 1900 &    \begin{tabular}{lll}xzthdexbqlrgqcdajnvoddlfyh.com &  sgcuwgausswxcxtzyhobeap.org \\ydsklbkjaydeaixkfybexemmvqwmj.ru &  wseajflswoqgdunvtlwcqglnhh.net \\wseajflswoqgdunvtlwcqglnhh.net &  njzdvcguxkjvzpnrjrcyheojxobpv.ru \\ &   \\\end{tabular} &  0.998989 &  137 &  137 &  522860 &  275 \\
   92 &                 \begin{tabular}{lll}uprgitcidqeceynvcapvmzp.com &  hyzdxwtwxexwjndnbsjv.com \\tteyzamuwfyjnkzqwoztlvdsc.net &  ytsxgqtvgmnsjrvgvkhxpzh.net \\krnxkvyhfqnfeupzuwcyuweazxs.org &  ifnjcavyljzcelbafutijamfazg.ru \\ &   \\\end{tabular} &  0.999788 &  140 &  140 &   25764 &  280 \\
\bottomrule
\end{tabular}