In [52]:
from datetime import datetime
import pandas as pd

df_dp = pd.read_csv('/tmp/dnsparse.csv')
df_ws = pd.read_csv('/tmp/dnsparse2.csv')
df_ws.drop(df_ws[df_ws.Time == '*REF*'].index, axis=0, inplace=True)

df_ws.Time = df_ws.Time.apply(lambda x: datetime.strptime('1970 ' + x, '%Y %H:%M:%S,%f').timestamp())#
df_dp.time = df_dp.time.apply(lambda x: datetime.utcfromtimestamp(x).timestamp())#.timestamp())

df_ws.Time = df_ws.Time.round(4)
df_dp.time = df_dp.time.round(4)

display(df_ws.head(2))
display(df_dp.head(2))

,No.,Time,DEST,Destination,dns.qry,dns.flags.response,src port,dns_ID,dns.qcode
0,1,-3588.9781,8.8.8.8,60882,dns.msftncsi.com,Message is a query,"60882,53",0xa5a1,1
1,2,-3587.9808,8.8.4.4,60882,dns.msftncsi.com,Message is a query,"60882,53",0xa5a1,2

,time,size,protocol,server,message_ID,qr,AA,rcode,dn,bdn,qcode,qdcount,ancount,nscount,arcount,answer
0,-3588.9781,42,u,8.8.8.8,42401,q,NaN,0,dns.msftncsi.com,msftncsi.com,1,1,0,0,0,NaN
1,-3587.9808,42,u,8.8.4.4,42401,q,NaN,0,dns.msftncsi.com,msftncsi.com,1,1,0,0,0,NaN

In [57]:
df = df_ws.merge(df_dp, left_on='Time', right_on='time', how='left')

df[df.dn.isna()]

,No.,Time,DEST,Destination,dns.qry,dns.flags.response,src port,dns_ID,dns.qcode,time,...,AA,rcode,dn,bdn,qcode,qdcount,ancount,nscount,arcount,answer
14874,14869,19400.6614,109.235.49.98,51622,ppopp.method.in,Message is a query,"51622,53",0xf513,14869,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23219,23213,34874.9603,109.235.49.98,54085,cf.alacartebelini.com,Message is a query,"54085,53",0xb964,23213,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23231,23225,34875.9610,109.235.49.98,57636,8f267a4596962193f2c0fa85ec902efb1647af54b85a69...,Message is a query,"57636,53",0x56f8,23225,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23243,23237,34877.9646,109.235.49.98,54085,cf.alacartebelini.com,Message is a query,"54085,53",0xb964,23237,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23255,23249,34881.9703,109.235.49.98,57636,8f267a4596962193f2c0fa85ec902efb1647af54b85a69...,Message is a query,"57636,53",0x56f8,23249,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
543949,543933,-1698.0474,10.0.2.24,53,8f267a4596962193f2c0fa85ec902efb1647af54b85a69...,Message is a response,"53,51238",0x5747,543933,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543950,543934,-1692.8693,109.235.49.98,63853,8f267a4596962193f2c0fa85ec902efb1647af54b85a69...,Message is a query,"63853,53",0x5ffd,543934,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543951,543935,-1692.8548,109.235.49.98,62905,cf.alacartebelini.com,Message is a query,"62905,53",0xc0b3,543935,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543952,543936,-1692.8524,10.0.2.24,53,8f267a4596962193f2c0fa85ec902efb1647af54b85a69...,Message is a response,"53,63853",0x5ffd,543936,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543953,543937,-1692.8385,10.0.2.24,53,cf.alacartebelini.com,Message is a response,"53,62905",0xc0b3,543937,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
display(df_ws.iloc[14865:14875])
display(df_dp.iloc[14865:14875])

,No.,Time,DEST,Destination,dns.qry,dns.flags.response,src port,dns_ID,dns.qcode
14865,14866,19399.7963,10.0.2.24,53,popp.method.in,Message is a response,"53,58352",0x9b38,14866
14866,14867,19399.8100,10.0.2.24,53,popp.method.in,Message is a response,"53,56102",0xbea8,14867
14867,14868,19399.8622,10.0.2.24,53,ppopp.method.in,Message is a response,"53,51436",0xefb4,14868
14868,14869,19400.6614,109.235.49.98,51622,ppopp.method.in,Message is a query,"51622,53",0xf513,14869
14869,14870,19400.7850,10.0.2.24,53,ppopp.method.in,Message is a response,"53,51622",0xf513,14870
14870,14871,19409.0396,109.235.49.98,52855,6.0.0.105.3467462492.1226377057.0.0.8f267a4596...,Message is a query,"52855,53",0x6e30,14871
14871,14872,19409.1733,10.0.2.24,53,6.0.0.105.3467462492.1226377057.0.0.8f267a4596...,Message is a response,"53,52855",0x6e30,14872
14872,14873,19467.5036,109.235.49.98,64625,cf.alacartebelini.com,Message is a query,"64625,53",0x6047,14873
14873,14874,19467.5128,109.235.49.98,65345,8f267a4596962193f2c0fa85ec902efb1647af54b85a69...,Message is a query,"65345,53",0x18ca,14874
14874,14875,19467.6424,10.0.2.24,53,cf.alacartebelini.com,Message is a response,"53,64625",0x6047,14875

,time,size,protocol,server,message_ID,qr,AA,rcode,dn,bdn,qcode,qdcount,ancount,nscount,arcount,answer
14865,19399.7963,88,u,109.235.49.98,39736,r,1.0,0,popp.method.in,method.in,1,1,2,1,0,5.61.30.255;1.1.1.1
14866,19399.8100,88,u,109.235.49.98,48808,r,1.0,0,popp.method.in,method.in,1,1,2,1,0,5.61.30.255;1.1.1.1
14867,19399.8622,89,u,109.235.49.98,61364,r,1.0,0,ppopp.method.in,method.in,1,1,2,1,0,1.0.1.1;1.1.1.1
14868,19400.7850,89,u,109.235.49.98,62739,r,1.0,0,ppopp.method.in,method.in,1,1,2,1,0,1.1.1.1;1.0.1.1
14869,19409.0396,122,u,109.235.49.98,28208,q,NaN,0,6.0.0.105.3467462492.1226377057.0.0.8f267a4596...,method.in,255,1,0,0,0,NaN
14870,19409.1733,227,u,109.235.49.98,28208,r,1.0,0,6.0.0.105.3467462492.1226377057.0.0.8f267a4596...,method.in,255,1,2,0,0,NaN
14871,19467.5036,47,u,109.235.49.98,24647,q,NaN,0,cf.alacartebelini.com,alacartebelini.com,1,1,0,0,0,NaN
14872,19467.5128,98,u,109.235.49.98,6346,q,NaN,0,8f267a4596962193f2c0fa85ec902efb1647af54b85a69...,alacartebelini.com,1,1,0,0,0,NaN
14873,19467.6424,95,u,109.235.49.98,24647,r,1.0,0,cf.alacartebelini.com,alacartebelini.com,1,1,2,1,0,26.183.201.250;1.1.1.1
14874,19467.6522,232,u,109.235.49.98,6346,r,1.0,0,8f267a4596962193f2c0fa85ec902efb1647af54b85a69...,alacartebelini.com,1,1,1,1,0,0.0.0.0