In [1]:
import pandas as pd
import psycopg2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import base64
from io import BytesIO
from IPython.core.display import display, HTML, Markdown
from  matplotlib.colors import get_named_colors_mapping 
import re as regex
import altair as alt

In [2]:
def get_db():
    try: db.close()
    except:
        pass
    db = psycopg2.connect("host=localhost dbname=dns user=postgres password=postgres")
    return db



df_malware = pd.read_sql("SELECT * FROM malware", get_db())

df = df_malware.drop(columns=["id", "md5", "sha256", "mcfp_link", "example"], index=20)
df = df.rename(columns={
    "name": "probable name",
})[["probable name", "binary", "year"]]

df

,probable name,binary,year
0,no-infection,None,NaN
1,PWS:Win32/Zbot!GO,FzPfH6.exe,2013.0
2,Trojan:Win32/Emotet.G,Ferer.exe/9049.exe,2015.0
3,TrojanDownloader:Win32/Dofoil!rfn,java.exe,2017.0
4,PWS:Win32/Zbot,salesforce_ssl_cert.zip,2014.0
5,Trojan:Win32/Matsnu.R,WINAPI32.EXE,2014.0
6,Trojan-Banker.Win32.Tinba.hrd,Mezzaluna calante.exe,2016.0
7,Trojan:Win32/Necurs,sample1.exe,2016.0
8,Worm:Win32/Netsky,data.pif,2006.0
9,Trojan:Win32/Miuref.R,Postmodernism.exe,2016.0
10,Trojan:Win32/Skeeyah.A!bit,ebb20174ee893c0754654668f3e837ff.exe,2017.0
11,PWS:Win32/Zbot!GO,3ab45z.exe,2013.0
12,TrojanDownloader:Win32/Obvod.M,105.exe,2013.0
13,TrojanProxy:Win32/Bunitu.K,troyanproxy.exe,2015.0
14,Backdoor:Win32/Htbot.B,Htbot.exe,2015.0
15,PWS:Win32/Zbot!GO,yL0T.exe,2014.0
16,Trojan:Win32/Bulta!rfn,oleprn.dll,2013.0
17,Trojan:Win32/Tiggre!rfn,Setup.exe,2017.0
18,Backdoor:Win32/Caphaw.AH,nltool.exe,2014.0
19,PWS:Win32/Zbot!GO,8219s.exe,2013.0

In [3]:

df_malware = pd.read_sql("SELECT * FROM malware where name not like 'no-infection'", get_db())

df_malware["scode"] = ""

for idx, mw in df_malware.iterrows():
    df = pd.read_sql("SELECT * FROM pcap WHERE malware_id=%d" % mw["id"], get_db())
    df_malware.at[idx, "scode"] = df["name"].apply(lambda x: x[:x.find("_")]).drop_duplicates().to_numpy()

stratosphere = 'https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-'
vtotal = 'https://www.virustotal.com/gui/file/'
for _, mw in df_malware.sort_values(by="id").iterrows():
    scode = mw["scode"][0]
    display(Markdown("%03d: [%s](%s%s/): %s %s\t[vs](%s%s)" % (mw['id'], mw['name'], stratosphere, scode, mw['binary'], scode, vtotal, mw["sha256"])))

    
df_dn = pd.read_sql("SELECT * FROM dn_distribution_per_mw", get_db())
df_dn["top10m_bool"] = df_dn.top10m.apply(lambda x: ">1mln" if x > 1_000_000 else ("no" if np.isnan(x) else "ok"))
#df_dn.groupby("malware_id")
df_dn = df_dn.sort_values(by="nx").groupby(["mwid", "mwname", "top10m_bool"]).aggregate({
    "dn": lambda x: ", ".join(x[0:3]),
    "nosfx": ["mean"],
    "dn": "count",
    "app": ["sum", "mean"],
    "ok": ["sum", "mean"],
    "nx": ["sum", "mean"],
})

df_dn[("nx/ok", "sum")] = df_dn[("nx", "sum")] / df_dn[("ok", "sum")]
df_dn[("nx/ok", "mean")] = df_dn[("nx", "mean")] / df_dn[("ok", "mean")]
df_dn.drop(index=["ok", ">1mln"], level="top10m_bool")

001: [TrojanDownloader:Win32/Obvod.M](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-10/): 105.exe 10	[vs](https://www.virustotal.com/gui/file/6b30c4d119f807f91020712adabfe435ac28e0dde458fe5d60a5b013611962a2)

002: [Backdoor:Win32/Htbot.B](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-111-3/): Htbot.exe 111-3	[vs](https://www.virustotal.com/gui/file/517da0900570ec9e9793d9e32a8445b5910b95618c4e1ea63da799d4a785dcd9)

003: [Trojan:Win32/Necurs](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-170-1/): sample1.exe 170-1	[vs](https://www.virustotal.com/gui/file/b3ca90d4b289d31bbdefbff7d9b42bfeb0f44f97e4738c7c1b88e4cad59b6e9f)

004: [PWS:Win32/Zbot!GO](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-25-2/): yL0T.exe 25-2	[vs](https://www.virustotal.com/gui/file/3fc6bef5eac0656be77f8e96f2b7e08cadb418c11430e8c3d53b33788a93c86a)

005: [Trojan:Win32/Tiggre!rfn](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-301-1/): Setup.exe 301-1	[vs](https://www.virustotal.com/gui/file/20ae9e5f8f26635c627afce5eaeeb749af459f55138c80f29da9d787ecc38f92)

006: [PWS:Win32/Zbot!GO](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-5/): 8219s.exe 5	[vs](https://www.virustotal.com/gui/file/80334036d44bfa4a2bdc0fa5b75d015513d00e38f26f043fb7f26fabcad0c2b7)

007: [Backdoor:Win32/Caphaw.AH](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-69/): nltool.exe 69	[vs](https://www.virustotal.com/gui/file/9966bc568225c509c3e3b3ff9f548ba59f39908200e3e8511e61a115be750f09)

008: [PWS:Win32/Zbot!GO](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-6/): 3ab45z.exe 6	[vs](https://www.virustotal.com/gui/file/dc991de6ae9989902c1e59d30050223de5a0c1327c2e54e0f6da8134e3f447ca)

009: [PWS:Win32/Zbot](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-71/): salesforce_ssl_cert.zip 71	[vs](https://www.virustotal.com/gui/file/efe31de9456d2661a2026a4bac9ebf1061b74290010aef95f11bab8c21241c59)

010: [PWS:Win32/Zbot!GO](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-7/): FzPfH6.exe 7	[vs](https://www.virustotal.com/gui/file/71644436abd1ba852778a8b4d148aa0f)

012: [Trojan:Win32/Matsnu.R](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-100/): WINAPI32.EXE 100	[vs](https://www.virustotal.com/gui/file/8bfa2d39be44de91958226983d983a07c1bcf75b007ab17b295215d08a63f032)

014: [Trojan-Banker.Win32.Tinba.hrd](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-166-1/): Mezzaluna calante.exe 166-1	[vs](https://www.virustotal.com/gui/file/8006cbd1c70b2ed096af9c72d6fef2c3e9cb0a4168540897967e5d3bbb2331bc)

015: [Trojan:Win32/Miuref.R](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-169-1/): Postmodernism.exe 169-1	[vs](https://www.virustotal.com/gui/file/e12a2c2b633ac12cec3e0d32950dcd5011d2aba4a9b95506c0fd3913446d7c22)

017: [TrojanProxy:Win32/Bunitu.K](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-140-2/): troyanproxy.exe 140-2	[vs](https://www.virustotal.com/gui/file/002e9d6217b17923b69710792fd85765c41a0fc5406ce6e1dbee3cc2ad82eca6)

019: [Trojan:Win32/Emotet.G](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-125-1/): Ferer.exe 125-1	[vs](https://www.virustotal.com/gui/file/ce0889dcae941653565fa2580ca1062173540a157c30173aca853fbee335df07)

020: [Trojan:Win32/Emotet.G](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-126-1/): Ferer.exe/9049.exe 126-1	[vs](https://www.virustotal.com/gui/file/4f236c31c1a9867013656960d11108f315a0f00f698a72836141082c7d9fce80)

022: [Trojan:Win32/Bulta!rfn](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-16/): oleprn.dll 16	[vs](https://www.virustotal.com/gui/file/bab391b77129150445521fddc073997ca6c7cb3db35eb1a7c45c65ca365370c3)

023: [TrojanDownloader:Win32/Dofoil!rfn](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-225-1/): java.exe 225-1	[vs](https://www.virustotal.com/gui/file/4904b2bfb4becf349662ba0ff6f3ade860c7e9086a674ee5e6f494e1a04bab03)

024: [Worm:Win32/Netsky](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-226-1/): data.pif 226-1	[vs](https://www.virustotal.com/gui/file/c8fffb2e737514c551b2d7bcaf8baa459564b059cab1a35a3cec4b3c270d4525)

027: [Trojan:Win32/Skeeyah.A!bit](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-305-1/): ebb20174ee893c0754654668f3e837ff.exe 305-1	[vs](https://www.virustotal.com/gui/file/2cf3ad894277f9113acbe77b9ff22a31f5bc97758322e5d3d05f31e0bc7b56ed)

                                                       dn     nosfx      app  \
                                                    count      mean      sum
mwid mwname                            top10m_bool
1    TrojanDownloader:Win32/Obvod.M    no            4873  0.000510  1638176
2    Backdoor:Win32/Htbot.B            no             720  0.063942    34655
3    Trojan:Win32/Necurs               no            2690  0.915949     6272
4    PWS:Win32/Zbot!GO                 no            6299  0.999402   484511
5    Trojan:Win32/Tiggre!rfn           no           29914  0.058832   541102
6    PWS:Win32/Zbot!GO                 no            4204  0.259406   410282
7    Backdoor:Win32/Caphaw.AH          no            5744  0.078183    63757
8    PWS:Win32/Zbot!GO                 no            3881  0.931149   764740
9    PWS:Win32/Zbot                    no            2013  0.994906    16049
10   PWS:Win32/Zbot!GO                 no            2981  0.997489   722598
12   Trojan:Win32/Matsnu.R             no              96  0.209712    54445
14   Trojan-Banker.Win32.Tinba.hrd     no            1001  0.976632  1239075
15   Trojan:Win32/Miuref.R             no            1120  0.902283  7524665
17   TrojanProxy:Win32/Bunitu.K        no             103  0.100321    73957
19   Trojan:Win32/Emotet.G             no            3640  0.010405    17602
20   Trojan:Win32/Emotet.G             no             457  0.015793     2506
22   Trojan:Win32/Bulta!rfn            no             522  0.040467     3621
23   TrojanDownloader:Win32/Dofoil!rfn no            1001  0.985249   421476
24   Worm:Win32/Netsky                 no             268  0.013760  4322466
27   Trojan:Win32/Skeeyah.A!bit        no              14  0.642363   636216
28   no-infection                      no            3562  0.165431   111691

                                                                       ok  \
                                                            mean      sum
mwid mwname                            top10m_bool
1    TrojanDownloader:Win32/Obvod.M    no             336.174020  1637955
2    Backdoor:Win32/Htbot.B            no              48.131944    33918
3    Trojan:Win32/Necurs               no               2.331599     3539
4    PWS:Win32/Zbot!GO                 no              76.918717   249499
5    Trojan:Win32/Tiggre!rfn           no              18.088587   524649
6    PWS:Win32/Zbot!GO                 no              97.593245   392722
7    Backdoor:Win32/Caphaw.AH          no              11.099756    51887
8    PWS:Win32/Zbot!GO                 no             197.047153   385224
9    PWS:Win32/Zbot                    no               7.972678     8447
10   PWS:Win32/Zbot!GO                 no             242.401208   369835
12   Trojan:Win32/Matsnu.R             no             567.135417    29381
14   Trojan-Banker.Win32.Tinba.hrd     no            1237.837163   629655
15   Trojan:Win32/Miuref.R             no            6718.450893  5668294
17   TrojanProxy:Win32/Bunitu.K        no             718.029126    53541
19   Trojan:Win32/Emotet.G             no               4.835714    17320
20   Trojan:Win32/Emotet.G             no               5.483589     2489
22   Trojan:Win32/Bulta!rfn            no               6.936782     3606
23   TrojanDownloader:Win32/Dofoil!rfn no             421.054945   215028
24   Worm:Win32/Netsky                 no           16128.604478  2936047
27   Trojan:Win32/Skeeyah.A!bit        no           45444.000000   636214
28   no-infection                      no              31.356261   110812

                                                                       nx  \
                                                            mean      sum
mwid mwname                            top10m_bool
1    TrojanDownloader:Win32/Obvod.M    no             336.128668      188
2    Backdoor:Win32/Htbot.B            no              47.108333      727
3    Trojan:Win32/Necurs               no               1.315613     2685
4    PWS:Win32/Zbot!GO                 no              39.609303   235012
5    Trojan:Win32/Tiggre!rfn           no              17.538577     7161
6    PWS:Win32/Zbot!GO                 no              93.416270    14812
7    Backdoor:Win32/Caphaw.AH          no               9.033252    11586
8    PWS:Win32/Zbot!GO                 no              99.258954   379462
9    PWS:Win32/Zbot                    no               4.196225     7602
10   PWS:Win32/Zbot!GO                 no             124.064072   352756
12   Trojan:Win32/Matsnu.R             no             306.052083    12029
14   Trojan-Banker.Win32.Tinba.hrd     no             629.025974   609411
15   Trojan:Win32/Miuref.R             no            5060.976786  1826213
17   TrojanProxy:Win32/Bunitu.K        no             519.815534    20381
19   Trojan:Win32/Emotet.G             no               4.758242      248
20   Trojan:Win32/Emotet.G             no               5.446389       15
22   Trojan:Win32/Bulta!rfn            no               6.908046        5
23   TrojanDownloader:Win32/Dofoil!rfn no             214.813187   206418
24   Worm:Win32/Netsky                 no           10955.399254  1350330
27   Trojan:Win32/Skeeyah.A!bit        no           45443.857143        2
28   no-infection                      no              31.109489      745

                                                                    nx/ok  \
                                                           mean       sum
mwid mwname                            top10m_bool
1    TrojanDownloader:Win32/Obvod.M    no              0.038580  0.000115
2    Backdoor:Win32/Htbot.B            no              1.009722  0.021434
3    Trojan:Win32/Necurs               no              0.998141  0.758689
4    PWS:Win32/Zbot!GO                 no             37.309414  0.941936
5    Trojan:Win32/Tiggre!rfn           no              0.239386  0.013649
6    PWS:Win32/Zbot!GO                 no              3.523311  0.037716
7    Backdoor:Win32/Caphaw.AH          no              2.017061  0.223293
8    PWS:Win32/Zbot!GO                 no             97.774285  0.985042
9    PWS:Win32/Zbot                    no              3.776453  0.899964
10   PWS:Win32/Zbot!GO                 no            118.334787  0.953820
12   Trojan:Win32/Matsnu.R             no            125.302083  0.409414
14   Trojan-Banker.Win32.Tinba.hrd     no            608.802198  0.967849
15   Trojan:Win32/Miuref.R             no           1630.547321  0.322180
17   TrojanProxy:Win32/Bunitu.K        no            197.873786  0.380662
19   Trojan:Win32/Emotet.G             no              0.068132  0.014319
20   Trojan:Win32/Emotet.G             no              0.032823  0.006027
22   Trojan:Win32/Bulta!rfn            no              0.009579  0.001387
23   TrojanDownloader:Win32/Dofoil!rfn no            206.211788  0.959959
24   Worm:Win32/Netsky                 no           5038.544776  0.459914
27   Trojan:Win32/Skeeyah.A!bit        no              0.142857  0.000003
28   no-infection                      no              0.209152  0.006723


                                                        mean
mwid mwname                            top10m_bool
1    TrojanDownloader:Win32/Obvod.M    no           0.000115
2    Backdoor:Win32/Htbot.B            no           0.021434
3    Trojan:Win32/Necurs               no           0.758689
4    PWS:Win32/Zbot!GO                 no           0.941936
5    Trojan:Win32/Tiggre!rfn           no           0.013649
6    PWS:Win32/Zbot!GO                 no           0.037716
7    Backdoor:Win32/Caphaw.AH          no           0.223293
8    PWS:Win32/Zbot!GO                 no           0.985042
9    PWS:Win32/Zbot                    no           0.899964
10   PWS:Win32/Zbot!GO                 no           0.953820
12   Trojan:Win32/Matsnu.R             no           0.409414
14   Trojan-Banker.Win32.Tinba.hrd     no           0.967849
15   Trojan:Win32/Miuref.R             no           0.322180
17   TrojanProxy:Win32/Bunitu.K        no           0.380662
19   Trojan:Win32/Emotet.G             no           0.014319
20   Trojan:Win32/Emotet.G             no           0.006027
22   Trojan:Win32/Bulta!rfn            no           0.001387
23   TrojanDownloader:Win32/Dofoil!rfn no           0.959959
24   Worm:Win32/Netsky                 no           0.459914
27   Trojan:Win32/Skeeyah.A!bit        no           0.000003
28   no-infection                      no           0.006723

In [10]:
# MW = 1 105.exe

def print_malware(mwid):
    
    str_ = ""

    df = pd.read_sql("SELECT dd.*, dn.bdn FROM dn_distribution_per_mw dd JOIN dn ON dd.dn_id=dn.id WHERE mwid = '%d' ORDER BY nx DESC" % mwid, get_db())
    
    mw = pd.read_sql("SELECT * FROM malware WHERE id=%d" % mwid, get_db())

    def bool_exp(df, nx_th, th_top10m):
        return (df.nx >= nx_th) & ((df.top10m >= th_top10m) | (np.isnan(df.top10m)))

    latex = True

    pd.set_option('display.max_colwidth',1000)

    df["bdn"] = df.bdn.apply(lambda x: "dnsfor[0-9].(com|net|org)" if x.find("dnsfor") == 0 else x)
    df['nx/app'] = (df.nx/df.app).apply(lambda x: x // 0.05 * 0.05).round(2) #.apply(lambda x: x // 0.05 * 0.05).round(2)
    

    if latex:
        str_ += ("<div class=\"container\">\n" )
        str_ += """<div class="d-flex justify-content-center">\n<div class="p-2">"""
        str_ += ("<h1 id=\"malware_%d\">[%d] %s: " % (mwid, df["mwid"].iloc[0], df['mwbinary'].iloc[0]))
        str_ += ("<small class=\"text-muted\">%s</small></h1>\n" % (df['mwname'].iloc[0]))
        str_ += ("<hr><h3>%s</h3>\n" % (mw['comment'].iloc[0]))
    else:
        display(Markdown("# %s  --  %s" % (df['mwbinary'].iloc[0], df['mwname'].iloc[0])))

    nx_th = 0
    top10m_th = 100_000

    aggregations = {
        "bdn": "nunique",
        "dn": ["count", lambda x: ", ".join(x)],
        "top10m": "mean",
        "nosfx": "mean",
        "app": "sum",
        "ok": "sum",
        "nx": "sum",
        "nx/app": "mean",
    }

    if latex:
        aggregations["dn"] = ["count", lambda x: "<br/>".join(x[0:4])]

    dfs = []

    def bibo(x):
        #print(x[1].replace(x[0], ""),"\n")
        return  (x[1].replace(x[0], ""),"\n")
    
    df_tmp = df[((df.top10m >= 10_000_000_0) | (np.isnan(df.top10m)))].groupby("bdn")
    df_tmp = df_tmp.aggregate(aggregations).sort_values(by=("app", "sum"), ascending=False)
    cols = df_tmp.columns.values
    cols[0] = ("bdn/dn", "num")
    cols[1] = ("dn", "num")
    cols[2] = ("dn", "examples")
    df_tmp.columns = pd.MultiIndex.from_tuples(cols)
    #df_tmp[("dn", "examples")] = df_tmp.reset_index()[[("bdn", ""), ("dn", "examples")]].apply(print, axis=1)
    df_tmp[("bdn", "")] = df_tmp.reset_index()[[("bdn", "")]]
    df_tmp[("dn", "examples")] = df_tmp[[("bdn", ""), ("dn", "examples")]].apply(lambda x: x[1].replace(str(x[0]), ""),  axis=1)
    
    #print(df_tmp[("dn", "examples")])
    
    dfs.append((
        df_tmp[cols].drop(columns=[("bdn/dn", "num"), ("nx/app", "mean"), ("top10m", "mean")]).head(10),
        "Top 10 used DNs outside to Top10Milion list",
        "tab:overall-%s" % df['mwbinary'].iloc[0],
        "top-bdn"
    ))



    df_tmp = df[(df.nx >= 1) & ((df.top10m >= 10_000_000_0) | (np.isnan(df.top10m)))].groupby(["nx/app"])
    df_tmp = df_tmp.aggregate(aggregations).sort_values(by=("nx", "sum"), ascending=False)
    cols = df_tmp.columns.values
    cols[0] = ("bdn/dn", "num")
    cols[1] = ("dn", "num")
    cols[2] = ("dn", "examples")
    df_tmp.columns = pd.MultiIndex.from_tuples(cols)
    tmp = cols[2]
    cols[2] = cols[1]
    cols[1] = tmp
    df_tmp[cols[0]] = df_tmp[("bdn/dn", "num")].astype(str) + '/' + df_tmp[("dn", "num")].astype(str)
    dfs.append((
        df_tmp[cols].drop(columns=[("dn", "num"), ("nx/app", "mean"), ("top10m", "mean")]),
        "DNs having NX responses greater than 0, grouped by their NX/app ratio",
        "tab:greater-nx-%s" % df['mwbinary'].iloc[0],
        "nx"
    ))



    df_tmp = df.groupby("bdn").aggregate(aggregations)
    df_tmp = df_tmp[df_tmp[("nx", "sum")] > 0]
    df_tmp = df_tmp.sort_values(by=("dn", "count"), ascending=False)
    df_tmp = df_tmp[df_tmp[("dn", "count")] >= 5]
    cols = df_tmp.columns.values
    cols[1] = ("dn", "unique")
    cols[2] = ("dn", "Four examples")
    df_tmp.columns = pd.MultiIndex.from_tuples(cols)
    tmp = cols[2]
    cols[2] = cols[1]
    cols[1] = tmp
    dfs.append((
        df_tmp[cols].drop(columns=("bdn", "nunique")).copy(),
        "Dynamic DNS providers",
        "tab:dynamicdns-%s" % df['mwbinary'].iloc[0],
        "dynamic"
    ))

    for dfss in dfs:
        if False and dfss[0].shape[0] > 0:
            if latex:
                str_ += ("<hr>\n<h3>%s:</h3>\n" % dfss[1])
            else:
                display(dfss[1])

            if latex:
                str_ += (dfss[0].to_html(escape=False)) #, caption=dfss[2], label=dfss[3]))
            else:
                display(dfss[1])#.drop(columns=("dn", "<lambda_1>")))
            
        display(dfss[0])
                
    str_ += ("\n</div></div></div>\n")
    
    return str_
                
#malwares_tofile()
for _,mw in df_malware.iterrows():
    print_malware(mw["id"])

                                    dn                                      \
                                   num                            examples
bdn
ayvcfcieulpxxoqgjrobojgafmc.biz      1     ayvcfcieulpxxoqgjrobojgafmc.biz
ymjvcnrojthicixhgqdakrv.ru           1          ymjvcnrojthicixhgqdakrv.ru
uylhmugfxdayzbqibhpbivkvsk.com       1      uylhmugfxdayzbqibhpbivkvsk.com
gabozapbkbspbvwdlrdqfyam.org         1        gabozapbkbspbvwdlrdqfyam.org
vghheaudpnjbnjhdhenrxzdba.ru         1        vghheaudpnjbnjhdhenrxzdba.ru
qollfijdpvhdyuwxwkljzqw.org          1         qollfijdpvhdyuwxwkljzqw.org
djcuqkuodcyhtijxjbtjnwomz.info       1      djcuqkuodcyhtijxjbtjnwomz.info
wgtwcwsxszxljbuwsgmdaztkrxktg.info   1  wgtwcwsxszxljbuwsgmdaztkrxktg.info
xojaydirsmzceqpnlroojobggyh.ru       1      xojaydirsmzceqpnlroojobggyh.ru
rwfefqpkjopnhydxcbqguxoswd.com       1      rwfefqpkjopnhydxcbqguxoswd.com

                                       nosfx  app   ok   nx
                                        mean  sum  sum  sum
bdn
ayvcfcieulpxxoqgjrobojgafmc.biz     1.000000  428  218  210
ymjvcnrojthicixhgqdakrv.ru          0.999997  425  219  206
uylhmugfxdayzbqibhpbivkvsk.com      0.999997  424  217  207
gabozapbkbspbvwdlrdqfyam.org        0.999996  424  216  208
vghheaudpnjbnjhdhenrxzdba.ru        0.999996  423  216  207
qollfijdpvhdyuwxwkljzqw.org         0.999984  423  217  206
djcuqkuodcyhtijxjbtjnwomz.info      0.999990  422  216  206
wgtwcwsxszxljbuwsgmdaztkrxktg.info  0.999999  422  215  207
xojaydirsmzceqpnlroojobggyh.ru      0.999986  422  217  205
rwfefqpkjopnhydxcbqguxoswd.com      0.999999  422  217  205

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,2193/2193,ayvcfcieulpxxoqgjrobojgafmc.biz<br/>tkveiinvogqfqkbpjpjtghapj.info<br/>ytcufycubakzxscimjdscjntbid.ru<br/>lvprjrceltaeuztnzzpwcpreuwwc.com,0.999775,710445,360048,350391
0.40,213/213,nrwsgikvxswoxbuuofmtgxwtkbcix.net<br/>xpzpjrvsaucqfujeitkmuwc.com<br/>bioeifukrbnzeadyzxvcxopijkj.info<br/>fmtkhyvtjbkfhacuguoxwkzfiyt.biz,0.997593,1716,997,719
0.35,125/125,aiemvwdrsmnuovdrsuspkvxl.info<br/>tkvotgejvmzlrztrcdxwytrdmaiws.biz<br/>aeluknbsorchuxspfbqpvzovhxg.info<br/>hmhyhqtwcvsxkjvvugqkhvkvcirt.org,0.999980,1613,1008,605
0.30,162/162,cmrkbiauprhirpifgaxkambel.biz<br/>kvvoytukwaebexsgabqgbuaqulz.com<br/>laizhnvdejfonnbnzzugmnhuhixc.com<br/>nvugylrgcaurgivnftczhhqhpjj.biz,0.994537,1363,912,451
0.25,97/97,rwvcqcydaithofxzlhwsqchijz.org<br/>hezmbqemxgzltibljdqrsgqrwvwg.net<br/>fudhzcamceuaqrwmbxodptl.ru<br/>fylxroqsdhbuhynrhqqfmvwnfa.org,0.999961,904,646,258
0.20,107/107,umqcprgcaaqttoheacaifhf.biz<br/>giytxsvdmkjxwzlxkzqctohadxp.com<br/>xwsobyaidmnfeudjffafqhucytk.ru<br/>bamrvkxoojwgzdlbdapreqmvuwt.info,0.999959,763,582,181
0.05,7/7,ruclnbizvhdvwcmojijqkzxgm.info<br/>mvnbtroyttkjhiypbyfmztsmqoai.info<br/>pbvwcckjaqtcvcvofyemnzhbicux.org<br/>wkdheprwfaptclhqkqdarsi.info,0.999969,1791,1687,104
0.15,22/22,rcbvgrsxxytbitkprbaxgtgvc.net<br/>fmmffqvwdenfqkqnfpzvogaqaip.net<br/>swmnhetcxoushbawgjrhqcmjkbd.biz<br/>ytpftguqkduknhqhzlqopdprw.com,0.999995,164,136,28
0.00,2/2,eqzlmnfushapbtofutpzhelws.com<br/>ypciaeifdmxhealvtjzrcgyvo.info,0.999996,576,563,13
0.10,6/6,njivrwkntodvsppforbafiwodjbaq.info<br/>eicibigmwsnbyxmgqrglnaqwsgbi.com<br/>degyojhxkrspnwgkfbarkxkeygu.biz<br/>sclzxwoembbaxfmcalbolxgciqc.biz,0.999962,46,40,6

Empty DataFrame
Columns: [(dn, Four examples), (dn, unique), (top10m, mean), (nosfx, mean), (app, sum), (ok, sum), (nx, sum), (nx/app, mean)]
Index: []

                      dn                                                   \
                     num                                         examples
bdn
patioart.ge            1                                  www.patioart.ge
atlantadultcare.com    2  atlantadultcare.com<br/>www.atlantadultcare.com
gouliami.gr            1                                      gouliami.gr
rbgstyle.com           1                               eshop.rbgstyle.com
jffjff.com             1                                       jffjff.com
alsoknownas-blog.com   1                             alsoknownas-blog.com
drwallach90.com        1                                  drwallach90.com
maximum.pl             1                        incus.projekty.maximum.pl
ericafrances.co.uk     1                           www.ericafrances.co.uk
upcbusiness.at         1                              mail.upcbusiness.at

                         nosfx  app   ok  nx
                          mean  sum  sum sum
bdn
patioart.ge           0.000141  216  216   0
atlantadultcare.com   0.000137   56   56   0
gouliami.gr           0.000618   52   52   0
rbgstyle.com          0.000002   48   48   0
jffjff.com            0.023716   48   48   0
alsoknownas-blog.com  0.000018   40   40   0
drwallach90.com       0.000002   40   40   0
maximum.pl            0.000021   34   34   0
ericafrances.co.uk    0.039345   34   34   0
upcbusiness.at        0.000029   30   30   0

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,15/15,pop01-cluster.nexlink.ch<br/>mail.alfista.de<br/>89-145-160-138.static.farma3.it<br/>nfnova.com,0.003073,30,15,15

                                                                                                              dn  \
                                                                                                   Four examples
bdn
aruba.it   host133-131-235-85.serverdedicati.aruba.it<br/>mxavas.aruba.it<br/>mxd8.aruba.it<br/>smtp-pc.aruba.it
strato.de                                stmp.strato.de<br/>pop3.strato.de<br/>smtp.strato.de<br/>imap.strato.de

                   top10m     nosfx  app   ok  nx  nx/app
          unique     mean      mean  sum  sum sum    mean
bdn
aruba.it       8  49973.0  0.000012   28   26   2  0.1125
strato.de      5  23554.0  0.000004  124  123   1  0.0900

                 dn                      nosfx  app   ok  nx
                num         examples      mean  sum  sum sum
bdn
xxciiqyefqyu.pw   1  xxciiqyefqyu.pw  0.999929  556  556   0
uyhgqunqkxnx.pw   1  uyhgqunqkxnx.pw  0.999978  549  527   0
rvqlfnedcldh.pw   1  rvqlfnedcldh.pw  0.999950  536  536   0
lpefukjwddgn.pw   1  lpefukjwddgn.pw  0.999750  532  532   0
fkmmvfeonnyh.pw   1  fkmmvfeonnyh.pw  0.999362  506  498   0
hhmgferksnfb.pw   1  hhmgferksnfb.pw  0.999827  499  414  85
llbyviyiqrkt.pw   1  llbyviyiqrkt.pw  0.999897  480  393  87
vjbrgpofghto.pw   1  vjbrgpofghto.pw  0.999862  460  375  85
ugsudtvxrypq.pw   1  ugsudtvxrypq.pw  0.999963  458  372  86
yyffsscwgolo.pw   1  yyffsscwgolo.pw  0.999934  454  366  88

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,982/982,tshouebcgjxq.pw<br/>ggmluudorjno.pw<br/>mjhuduxhxuec.pw<br/>ttuojtnskdei.pw,0.986919,412523,206793,205730
0.15,8/8,yyffsscwgolo.pw<br/>nqtllehiydgg.pw<br/>llbyviyiqrkt.pw<br/>ugsudtvxrypq.pw,0.999920,3696,3008,688

Empty DataFrame
Columns: [(dn, Four examples), (dn, unique), (top10m, mean), (nosfx, mean), (app, sum), (ok, sum), (nx, sum), (nx/app, mean)]
Index: []

                                 dn  \
                                num
bdn
yahoodns.net                      3
lryhvkcsotlvhktjffuaioft.com      2
mbkveyukzxzxlbbmmzcmonxkabu.com   2
lthnvbepjvworeawsvoozeagq.com     2
xqavknbthqjvnvxsuojnrsc.org       1
adedtppnnfmztussktlnbknkn.org     1
ozqccpobpbfycarjvyhqcdptxk.biz    1
pbezllztcnjtqeuhovtiz.biz         1
payypdmhxcxxvgvsojdqs.com         1
paupjzifvctqkemtku.ru             1

                                                                                                            \
                                                                                                  examples
bdn
yahoodns.net                     mta7.am0.yahoodns.net<br/>mta5.am0.yahoodns.net<br/>mta6.am0.yahoodns.net
lryhvkcsotlvhktjffuaioft.com             lryhvkcsotlvhktjffuaioft.com<br/>www.lryhvkcsotlvhktjffuaioft.com
mbkveyukzxzxlbbmmzcmonxkabu.com    mbkveyukzxzxlbbmmzcmonxkabu.com<br/>www.mbkveyukzxzxlbbmmzcmonxkabu.com
lthnvbepjvworeawsvoozeagq.com          lthnvbepjvworeawsvoozeagq.com<br/>www.lthnvbepjvworeawsvoozeagq.com
xqavknbthqjvnvxsuojnrsc.org                                                    xqavknbthqjvnvxsuojnrsc.org
adedtppnnfmztussktlnbknkn.org                                                adedtppnnfmztussktlnbknkn.org
ozqccpobpbfycarjvyhqcdptxk.biz                                              ozqccpobpbfycarjvyhqcdptxk.biz
pbezllztcnjtqeuhovtiz.biz                                                        pbezllztcnjtqeuhovtiz.biz
payypdmhxcxxvgvsojdqs.com                                                        payypdmhxcxxvgvsojdqs.com
paupjzifvctqkemtku.ru                                                                paupjzifvctqkemtku.ru

                                    nosfx app  ok  nx
                                     mean sum sum sum
bdn
yahoodns.net                     0.000032  19  19   0
lryhvkcsotlvhktjffuaioft.com     0.999985  14   9   5
mbkveyukzxzxlbbmmzcmonxkabu.com  0.999999  14   9   5
lthnvbepjvworeawsvoozeagq.com    0.999962  14   9   5
xqavknbthqjvnvxsuojnrsc.org      0.999996  13   7   6
adedtppnnfmztussktlnbknkn.org    0.999925  12   6   6
ozqccpobpbfycarjvyhqcdptxk.biz   0.999995  12   6   6
pbezllztcnjtqeuhovtiz.biz        1.000000  12   6   6
payypdmhxcxxvgvsojdqs.com        0.999994  12   6   6
paupjzifvctqkemtku.ru            0.999977  12   6   6

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,1840/1840,lmbbilrojlvmzlfnvkxuoguuga.com<br/>rwxgthqdueqwcghmpfpmztkjx.org<br/>dhofkrhbbclzxckjaiqfu.ru<br/>vwtvofelfhtslhmzgudkfrwfi.com,0.999876,14617,7309,7308
0.40,37/37,lncaobqfuwghabahmfmrwqhauk.com<br/>nbcqhxkygeylgqsifwbepzsk.org<br/>dnjsaiozhmveibelfqpaydjf.net<br/>qsvptolxhkryyhbmlrugzlt.com,0.999978,444,259,185
0.30,11/11,yltwhytojzhenrxwxoeuljztivbq.biz<br/>hmdawsydqscqgqmbirbecbugumzvst.com<br/>rkeytkukiibrktzgduxodpjovcy.net<br/>xtgqwfdlsofiwgjbdefakvwd.info,0.999984,132,88,44
0.20,25/25,gqljbitozducautxogegmizqoqc.info<br/>hxfizxpnmfpvkmzcacgysojv.com<br/>inyldtscddazpushuirxkvrcucmv.com<br/>rwovvgkrvgvmjrlzhtzwdts.com,0.999988,148,111,37
0.05,18/18,fytwsqkgindatoahtnbnrzhe.org<br/>wkorwstscmxgcjbqokzcycpkvhyp.net<br/>wchmbeqnreyzhdeylfpbaga.biz<br/>qkdapcqinizsczxrwaelaimznfbqq.biz,0.999981,216,198,18
0.15,5/5,daeemibxfaifxocuaevklr.net<br/>uosksganzdxciftsroukwofip.com<br/>woxconfedrktwbeukzuktai.biz<br/>hybytqwscguvowbbgwgxijdq.com,0.999248,60,50,10

Empty DataFrame
Columns: [(dn, Four examples), (dn, unique), (top10m, mean), (nosfx, mean), (app, sum), (ok, sum), (nx, sum), (nx/app, mean)]
Index: []

                          dn                               nosfx   app    ok  \
                         num                  examples      mean   sum   sum
bdn
requestpressure.com        1       requestpressure.com  0.995763  4774  2392
worddustballprocess.com    1   worddustballprocess.com  0.000087  4774  2392
trainingpursue.com         1        trainingpursue.com  0.629610  4774  2392
silverresolve.com          1         silverresolve.com  0.059112  4770  2390
substanceissue.com         1        substanceissue.com  0.103220  4758  2384
musclecuphospital.com      1     musclecuphospital.com  0.000302  2395  1198
nailadaptbank.com          1         nailadaptbank.com  0.000139  2382  1191
toweldependequipment.com   1  toweldependequipment.com  0.976628  2379  1190
treeproducealarm.com       1      treeproducealarm.com  0.410529  1625  1508
taskshowerreaction.com     1    taskshowerreaction.com  0.034281  1210  1210

                            nx
                           sum
bdn
requestpressure.com          0
worddustballprocess.com      0
trainingpursue.com           0
silverresolve.com            0
substanceissue.com           0
musclecuphospital.com     1195
nailadaptbank.com         1191
toweldependequipment.com  1189
treeproducealarm.com         0
taskshowerreaction.com       0

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,68/68,musclecuphospital.com<br/>nailadaptbank.com<br/>toweldependequipment.com<br/>universitycrash.com,0.230321,23716,11859,11855
0.25,1/1,swimmingearnoil.com,0.041443,350,224,92
0.20,2/2,clickrepeatlaw.com<br/>starpaircarry.com,0.000411,228,125,55
0.10,1/1,assistanceisland.com,0.484227,238,121,25
0.00,1/1,closetmatterplane.com,0.000480,104,102,2

Empty DataFrame
Columns: [(dn, Four examples), (dn, unique), (top10m, mean), (nosfx, mean), (app, sum), (ok, sum), (nx, sum), (nx/app, mean)]
Index: []

                  dn                       nosfx   app    ok    nx
                 num          examples      mean   sum   sum   sum
bdn
rkpiqcmmmbue.xyz   1  rkpiqcmmmbue.xyz  0.999975  2327  1264  1063
lvfxgvdofett.xyz   1  lvfxgvdofett.xyz  0.999833  2179  1128  1051
eviyrmxgxspl.xyz   1  eviyrmxgxspl.xyz  0.993917  2174  1119  1055
yxyyqbhgsjcp.xyz   1  yxyyqbhgsjcp.xyz  0.999954  2171  1116  1055
oodrrokoefls.xyz   1  oodrrokoefls.xyz  0.958422  2170  1116  1054
rqyxxxwwrrss.xyz   1  rqyxxxwwrrss.xyz  0.999962  2167  1119  1048
cjksfwrevcvm.xyz   1  cjksfwrevcvm.xyz  0.999942  2164  1112  1052
spfpujrbmmnv.xyz   1  spfpujrbmmnv.xyz  0.999893  2157  1100  1057
blxycnjtmygs.xyz   1  blxycnjtmygs.xyz  0.999598  2154  1104  1049
jkvvupijigwr.xyz   1  jkvvupijigwr.xyz  0.999957  2151  1096  1055

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,1001/1001,rkpiqcmmmbue.xyz<br/>rggderfidxhx.xyz<br/>nxhonrxwkbwh.xyz<br/>jxihgmogkkgs.xyz,0.976632,1239075,629655,609411

Empty DataFrame
Columns: [(dn, Four examples), (dn, unique), (top10m, mean), (nosfx, mean), (app, sum), (ok, sum), (nx, sum), (nx/app, mean)]
Index: []

                     dn                          nosfx app  ok  nx
                    num             examples      mean sum sum sum
bdn
npkxghmoru.biz        1       npkxghmoru.biz  0.824690  38  38   0
vlteaqimk.pw          1         vlteaqimk.pw  0.998706  10  10   0
xkaihxporh.net        1       xkaihxporh.net  0.993293   9   7   2
geqxabrremsp.ms       1      geqxabrremsp.ms  0.998947   9   7   2
ojddowffjbxxv.so      1     ojddowffjbxxv.so  0.999956   9   7   2
amjvlrxcrdwcextb.mx   1  amjvlrxcrdwcextb.mx  0.999903   9   7   2
frnehhvncwhi.mu       1      frnehhvncwhi.mu  0.999946   9   7   2
qeyaixgptagjags.xxx   1  qeyaixgptagjags.xxx  0.998481   9   7   2
hoomiecqt.so          1         hoomiecqt.so  0.685286   9   7   2
wbuxdxkbgo.ru         1        wbuxdxkbgo.ru  0.999494   9   7   2

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,2259/2259,qmfbjcitkar.sc<br/>oeskhlsycueenjeeongj.co<br/>emxxxkagjmfprj.nu<br/>driniydp.cm,0.940148,4562,2281,2281
0.30,204/204,gvkqrrpjdadfpk.sx<br/>qaenaogkamr.bit<br/>wdetrxffhntb.nu<br/>mjwlchokhicl.org,0.951708,612,408,204
0.20,87/87,hoomiecqt.so<br/>yguerwtsr.ac<br/>amjvlrxcrdwcextb.mx<br/>xkaihxporh.net,0.938662,431,319,103
0.25,38/38,ohpkmurkvviiaobcg.in<br/>emxwxkkqbgcef.tw<br/>bwagbiy.tv<br/>xduhkdnqsblwtiibb.ru,0.964370,266,190,76
0.15,15/15,sxbiypnfjibneegrlau.ug<br/>mytgiscmdwovvxvsw.bz<br/>uqhavrnnkvtcppg.eu<br/>jqvkthaqhxpqsrqpksbg.sx,0.896746,90,74,15
0.10,4/4,mekicxiqxlmitp.im<br/>sflhmfmllkpspavg.in<br/>cudffmmqkojcrtlwrjbo.cc<br/>qwwgchsmllqkeitwdng.sx,0.999912,31,26,4
0.40,1/1,cixpyoskuds.mn,0.393134,5,3,2

Empty DataFrame
Columns: [(dn, Four examples), (dn, unique), (top10m, mean), (nosfx, mean), (app, sum), (ok, sum), (nx, sum), (nx/app, mean)]
Index: []

                  dn  \
                 num
bdn
zzz.org            2
ukw               22
49.5               1
18.5               1
51.5               1
yahoodns.net       5
56.5               1
47.5               1
lacita.com         1
kamagrakaufen.eu   1

                                                                                                                               \
                                                                                                                     examples
bdn
zzz.org                                                                                               zzz.org<br/>aaa.zzz.org
ukw                                                                                                       b<br/>x<br/>9<br/>7
49.5                                                                                                                     49.5
18.5                                                                                                                     18.5
51.5                                                                                                                     51.5
yahoodns.net      mx-apac.mail.gm0.yahoodns.net<br/>mta6.am0.yahoodns.net<br/>mta7.am0.yahoodns.net<br/>mta5.am0.yahoodns.net
56.5                                                                                                                     56.5
47.5                                                                                                                     47.5
lacita.com                                                                                               zinfandel.lacita.com
kamagrakaufen.eu                                                                                             kamagrakaufen.eu

                     nosfx     app      ok      nx
                      mean     sum     sum     sum
bdn
zzz.org           0.114680  370251  370239       0
ukw               0.000000  325114  162584  162510
49.5              0.000000  124858   62439   62416
18.5              0.000000  124823   62415   62408
51.5              0.000000  124814   62410   62400
yahoodns.net      0.000110  122382  122382       0
56.5              0.000000   93631   46821   46807
47.5              0.000000   93605   46807   46797
lacita.com        0.005017   92602   92601       0
kamagrakaufen.eu  0.000130   92578   92569       0

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,108/129,49.5<br/>18.5<br/>51.5<br/>56.5,0.002833,2701570,1351135,1350330

                                                                                                    dn  \
                                                                                         Four examples
bdn
ukw                                                                                b<br/>x<br/>9<br/>7
ucla.edu  cougar.noc.ucla.edu<br/>mx.smtp.ucla.edu<br/>mx-ucb2.smtp.ucla.edu<br/>mx-ucb1.smtp.ucla.edu

                 top10m     nosfx     app      ok      nx nx/app
         unique    mean      mean     sum     sum     sum   mean
bdn
ukw          22     NaN  0.000000  325114  162584  162510   0.45
ucla.edu      9  7380.0  0.000261  108894   62059   46827   0.05

             dn                                                         \
            num                                               examples
bdn
gatyhub.com   3  ww55.gatyhub.com<br/>gatyhub.com<br/>ww11.gatyhub.com
qexyryl.com   1                                            qexyryl.com
lymyxid.com   1                                            lymyxid.com
vofygum.com   1                                            vofygum.com
volyqat.com   1                                            volyqat.com
lysytyr.com   1                                            lysytyr.com
vonyjim.com   1                                            vonyjim.com
galyvas.com   1                                            galyvas.com
volybec.com   1                                            volybec.com
purycap.com   1                                            purycap.com

                nosfx    app     ok  nx
                 mean    sum    sum sum
bdn
gatyhub.com  0.332648  21772  21640   0
qexyryl.com  1.000000  19155  19025   0
lymyxid.com  0.999806  19077  18946   0
vofygum.com  0.999986  18928  18796   0
volyqat.com  0.999991  18826  18694   0
lysytyr.com  0.999993  18814  18682   0
vonyjim.com  0.999981  18805  18673   0
galyvas.com  0.999490  18803  18671   0
volybec.com  0.999820  18801  18669   0
purycap.com  0.976731  18800  18672   0

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,765/765,qexyfel.com<br/>lyxyfar.com<br/>lygyxun.com<br/>gahycib.com,0.994495,3629320,1836393,1792922
0.35,7/7,qekyqop.com<br/>vonyzuf.com<br/>qedyfyq.com<br/>gadyfuh.com,0.999936,42819,26334,16485
0.40,7/7,pufypiq.com<br/>vocymut.com<br/>gacyryw.com<br/>qegysoq.com,0.999905,38048,21563,16485
0.00,1/1,vocyzit.com,0.999978,16976,16561,308
0.50,1/1,wpad.lan,0.000000,24,11,13

                                                                                                       dn  \
                                                                                            Four examples
bdn
winsrw.com                                5.winsrw.com<br/>1.winsrw.com<br/>2.winsrw.com<br/>3.winsrw.com
web-counter.info  5.web-counter.info<br/>1.web-counter.info<br/>3.web-counter.info<br/>2.web-counter.info

                        top10m     nosfx   app    ok   nx nx/app
                 unique   mean      mean   sum   sum  sum   mean
bdn
winsrw.com            5    NaN  0.000006    10     9    1   0.09
web-counter.info      5    NaN  0.000008  9214  8369  845   0.09

                                                              dn  \
                                                             num
bdn
acn.name                                                       1
phicdn.net                                                     1
pipeline-edge-prod-24-1300278808.us-west-2.elb.amazonaws.com   1
d12uj65dsn9ho1.cloudfront.net                                  1
d2k03kvdk5cku0.cloudfront.net                                  1
d1zkz3k4cclnv6.cloudfront.net                                  1
d1sp2sgy246t7c.cloudfront.net                                  1
d2pp80vsjn2e6y.cloudfront.net                                  1
d34chcsvb7ug62.cloudfront.net                                  1
d6wjo2hisqfy2.cloudfront.net                                   1

                                                                                                                            \
                                                                                                                  examples
bdn
acn.name                                                                         cf0c69c2d0e0da8e900b06509bbc7077.acn.name
phicdn.net                                                                                              cs9.wac.phicdn.net
pipeline-edge-prod-24-1300278808.us-west-2.elb.amazonaws.com  pipeline-edge-prod-24-1300278808.us-west-2.elb.amazonaws.com
d12uj65dsn9ho1.cloudfront.net                                                                d12uj65dsn9ho1.cloudfront.net
d2k03kvdk5cku0.cloudfront.net                                                                d2k03kvdk5cku0.cloudfront.net
d1zkz3k4cclnv6.cloudfront.net                                                                d1zkz3k4cclnv6.cloudfront.net
d1sp2sgy246t7c.cloudfront.net                                                                d1sp2sgy246t7c.cloudfront.net
d2pp80vsjn2e6y.cloudfront.net                                                                d2pp80vsjn2e6y.cloudfront.net
d34chcsvb7ug62.cloudfront.net                                                                d34chcsvb7ug62.cloudfront.net
d6wjo2hisqfy2.cloudfront.net                                                                  d6wjo2hisqfy2.cloudfront.net

                                                                 nosfx  \
                                                                  mean
bdn
acn.name                                                      0.000290
phicdn.net                                                    0.000015
pipeline-edge-prod-24-1300278808.us-west-2.elb.amazonaws.com  0.000005
d12uj65dsn9ho1.cloudfront.net                                 0.999867
d2k03kvdk5cku0.cloudfront.net                                 0.999997
d1zkz3k4cclnv6.cloudfront.net                                 0.999954
d1sp2sgy246t7c.cloudfront.net                                 0.996054
d2pp80vsjn2e6y.cloudfront.net                                 0.999975
d34chcsvb7ug62.cloudfront.net                                 0.999222
d6wjo2hisqfy2.cloudfront.net                                  0.999988

                                                                 app      ok  \
                                                                 sum     sum
bdn
acn.name                                                      636018  636018
phicdn.net                                                        52      52
pipeline-edge-prod-24-1300278808.us-west-2.elb.amazonaws.com      46      46
d12uj65dsn9ho1.cloudfront.net                                     28      28
d2k03kvdk5cku0.cloudfront.net                                     28      28
d1zkz3k4cclnv6.cloudfront.net                                     12      12
d1sp2sgy246t7c.cloudfront.net                                      4       4
d2pp80vsjn2e6y.cloudfront.net                                      4       4
d34chcsvb7ug62.cloudfront.net                                      4       4
d6wjo2hisqfy2.cloudfront.net                                       4       4

                                                              nx
                                                             sum
bdn
acn.name                                                       0
phicdn.net                                                     0
pipeline-edge-prod-24-1300278808.us-west-2.elb.amazonaws.com   0
d12uj65dsn9ho1.cloudfront.net                                  0
d2k03kvdk5cku0.cloudfront.net                                  0
d1zkz3k4cclnv6.cloudfront.net                                  0
d1sp2sgy246t7c.cloudfront.net                                  0
d2pp80vsjn2e6y.cloudfront.net                                  0
d34chcsvb7ug62.cloudfront.net                                  0
d6wjo2hisqfy2.cloudfront.net                                   0

       bdn/dn        dn nosfx app  ok  nx
          num  examples  mean sum sum sum
nx/app
0.45      1/1  wpad.lan   0.0   4   2   2

Empty DataFrame
Columns: [(dn, Four examples), (dn, unique), (top10m, mean), (nosfx, mean), (app, sum), (ok, sum), (nx, sum), (nx/app, mean)]
Index: []

                                 dn                                   \
                                num                         examples
bdn
ifnjcavyljzcelbafutijamfazg.ru    1   ifnjcavyljzcelbafutijamfazg.ru
ayyhmrrceicmgybeliraifqwcrk.org   1  ayyhmrrceicmgybeliraifqwcrk.org
uoqspvtuotpusfigypvyxmzir.ru      1     uoqspvtuotpusfigypvyxmzir.ru
tteyzamuwfyjnkzqwoztlvdsc.net     1    tteyzamuwfyjnkzqwoztlvdsc.net
cihaiusscyptceumzwkqcsksk.org     1    cihaiusscyptceumzwkqcsksk.org
xcwcqfqxwtdihgyvozxkfhqwwg.info   1  xcwcqfqxwtdihgyvozxkfhqwwg.info
hyzdxwtwxexwjndnbsjv.com          1         hyzdxwtwxexwjndnbsjv.com
lleaxypmvlbljcqzphqsgugzt.info    1   lleaxypmvlbljcqzphqsgugzt.info
tltkbmciylqscyhfqmvtgqkeq.net     1    tltkbmciylqscyhfqmvtgqkeq.net
dyzvkwktlnzpaihugewtstzd.net      1     dyzvkwktlnzpaihugewtstzd.net

                                    nosfx  app   ok   nx
                                     mean  sum  sum  sum
bdn
ifnjcavyljzcelbafutijamfazg.ru   0.999976  559  279  280
ayyhmrrceicmgybeliraifqwcrk.org  0.999993  559  279  280
uoqspvtuotpusfigypvyxmzir.ru     1.000000  559  280  279
tteyzamuwfyjnkzqwoztlvdsc.net    1.000000  558  279  279
cihaiusscyptceumzwkqcsksk.org    0.999984  558  279  279
xcwcqfqxwtdihgyvozxkfhqwwg.info  0.999988  558  279  279
hyzdxwtwxexwjndnbsjv.com         0.999973  558  280  278
lleaxypmvlbljcqzphqsgugzt.info   0.999861  557  278  279
tltkbmciylqscyhfqmvtgqkeq.net    0.999999  557  279  278
dyzvkwktlnzpaihugewtstzd.net     0.999999  557  278  279

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,3460/3460,cihaiusscyptceumzwkqcsksk.org<br/>uoqspvtuotpusfigypvyxmzir.ru<br/>xcwcqfqxwtdihgyvozxkfhqwwg.info<br/>tteyzamuwfyjnkzqwoztlvdsc.net,0.998734,731100,365694,365406
0.50,50/50,ayyhmrrceicmgybeliraifqwcrk.org<br/>ifnjcavyljzcelbafutijamfazg.ru<br/>tceutceqdqukrgitwgjvyhxsojbeem.org<br/>lleaxypmvlbljcqzphqsgugzt.info,0.999990,27652,13800,13852
0.20,2/4,ovxswpduosooozuwumeacqzxmz.info<br/>mx2.h2.net.au<br/>mx4.h2.net.au<br/>mx3.h2.net.au,0.250005,484,386,98
0.30,57/57,avceuhcyhowgvogqlbcmcqcx.ru<br/>wmbmhtktcjrbyzkxorwpsotzd.org<br/>dqtkzzlmvxauhqxgpztvsrcfaded.com<br/>ydvowcfmonzlqxkznbdusxsll.net,0.999981,171,114,57
0.10,1/1,hmraeqijkjzluxpxrclfyeqs.info,0.999997,450,401,49

                                                                            dn  \
                                                                 Four examples
bdn
h2.net.au  mx2.h2.net.au<br/>mx4.h2.net.au<br/>mx3.h2.net.au<br/>mx1.h2.net.au

                 top10m     nosfx app  ok  nx nx/app
          unique   mean      mean sum sum sum   mean
bdn
h2.net.au      5    NaN  0.000005  20  16   4   0.21

                         dn  \
                        num
bdn
alacartebelini.com     4225
method.in               639
reduxmediagroup.com       1
networkhm.com             1
ajax.googleapis.com       1
fonts.googleapis.com      1
contentsiteonline.com     1
iskullgames.com           1
kenplay.com               1
pferdetoplist.de          1

                                                                                                                                                                                                                                                                                                                  \
                                                                                                                                                                                                                                                                                                        examples
bdn
alacartebelini.com                                                                                                                                                       0.49921.pdl.alacartebelini.com<br/>220.42241.pdl.alacartebelini.com<br/>2.57099.pf.alacartebelini.com<br/>7.57099.pf.alacartebelini.com
method.in              8f267a4596962193f2c0fa85ec902efb1647af54b85a690df6.fofi.method.in<br/>8fda7859966a238ff23cf899ec6c2ce716bbad48b8a66b11f6.fofi.method.in<br/>8f267a4596962193f2c0fa85ec902efb1647af54b85a690df6.29.0.f3.method.in<br/>8f267a4596962193f2c0fa85ec902efb1647af54b85a690df6.25.0.f3.method.in
reduxmediagroup.com                                                                                                                                                                                                                                                                      ads.reduxmediagroup.com
networkhm.com                                                                                                                                                                                                                                                                                  ads.networkhm.com
ajax.googleapis.com                                                                                                                                                                                                                                                                          ajax.googleapis.com
fonts.googleapis.com                                                                                                                                                                                                                                                                        fonts.googleapis.com
contentsiteonline.com                                                                                                                                                                                                                                                                      contentsiteonline.com
iskullgames.com                                                                                                                                                                                                                                                                              www.iskullgames.com
kenplay.com                                                                                                                                                                                                                                                                                      www.kenplay.com
pferdetoplist.de                                                                                                                                                                                                                                                                            www.pferdetoplist.de

                          nosfx      app       ok   nx
                           mean      sum      sum  sum
bdn
alacartebelini.com     0.000005  1069944  1069851   60
method.in              0.003472   533914   533786  128
reduxmediagroup.com    0.000043    30902    30902    0
networkhm.com          0.000025     3376     3376    0
ajax.googleapis.com    0.214317       12       12    0
fonts.googleapis.com   0.000160        8        8    0
contentsiteonline.com  0.000064        4        4    0
iskullgames.com        0.000047        4        4    0
kenplay.com            0.000011        4        4    0
pferdetoplist.de       0.002475        4        4    0

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,1/2,8f267a4596962193f2c0fa85ec902efb1647af54b85a690df6.fofi.method.in<br/>8fda7859966a238ff23cf899ec6c2ce716bbad48b8a66b11f6.fofi.method.in,2.729039e-09,256,128,128
0.05,1/1,0.49921.pdl.alacartebelini.com,2.190402e-06,496,450,46
0.00,1/3,220.42241.pdl.alacartebelini.com<br/>2.57099.pf.alacartebelini.com<br/>7.57099.pf.alacartebelini.com,1.546001e-06,2680,2660,14

                                                                                                                                                                                                                                                                                                           dn  \
                                                                                                                                                                                                                                                                                                Four examples
bdn
alacartebelini.com                                                                                                                                                    0.49921.pdl.alacartebelini.com<br/>220.42241.pdl.alacartebelini.com<br/>2.57099.pf.alacartebelini.com<br/>7.57099.pf.alacartebelini.com
method.in           8f267a4596962193f2c0fa85ec902efb1647af54b85a690df6.fofi.method.in<br/>8fda7859966a238ff23cf899ec6c2ce716bbad48b8a66b11f6.fofi.method.in<br/>8f267a4596962193f2c0fa85ec902efb1647af54b85a690df6.29.0.f3.method.in<br/>8f267a4596962193f2c0fa85ec902efb1647af54b85a690df6.25.0.f3.method.in

                          top10m     nosfx      app       ok   nx    nx/app
                   unique   mean      mean      sum      sum  sum      mean
bdn
alacartebelini.com   4225    NaN  0.000005  1069944  1069851   60  0.000012
method.in             639    NaN  0.003472   533914   533786  128  0.001408

                    dn  \
                   num
bdn
joinparty4more.xyz   3
wdrimg.com           1
solads.media         2
bnmla.com            1
vip72.info           3
adformdsp.net        2
iias.eu              2
webovernet.com       2
letvertise.com       2
eshopcomp.com        2

                                                                                                  \
                                                                                        examples
bdn
joinparty4more.xyz  ns8.joinparty4more.xyz<br/>ns0.joinparty4more.xyz<br/>ns1.joinparty4more.xyz
wdrimg.com                                                                        cdn.wdrimg.com
solads.media                                         feed.solads.media<br/>cdn.feed.solads.media
bnmla.com                                                                    soundwave.bnmla.com
vip72.info                   63678116.vip72.info<br/>20058396.vip72.info<br/>27180137.vip72.info
adformdsp.net                                          s1.adformdsp.net<br/>server.adformdsp.net
iias.eu                                                              dev.iias.eu<br/>www.iias.eu
webovernet.com                                      s1751.webovernet.com<br/>s751.webovernet.com
letvertise.com                                          e0.letvertise.com<br/>cdn.letvertise.com
eshopcomp.com                                    istatic.eshopcomp.com<br/>pstatic.eshopcomp.com

                       nosfx    app     ok     nx
                        mean    sum    sum    sum
bdn
joinparty4more.xyz  0.000022  72208  51826  20381
wdrimg.com          0.305926    359    359      0
solads.media        0.000006    162    162      0
bnmla.com           0.006932    124    124      0
vip72.info          0.000624     68     34      0
adformdsp.net       0.009120     58     58      0
iias.eu             0.000093     58     58      0
webovernet.com      0.000004     54     54      0
letvertise.com      0.000003     52     52      0
eshopcomp.com       0.000067     50     50      0

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,1/2,ns8.joinparty4more.xyz<br/>ns0.joinparty4more.xyz,0.00003,43063,22681,20381

                                                                                                                            dn  \
                                                                                                                 Four examples
bdn
whoer.net  bjjwf1446610.br.whoer.net<br/>odzhn1447289.br.whoer.net<br/>ovzfn1446717.br.whoer.net<br/>dnfzm1447306.br.whoer.net
360.cn                                                           s.so.360.cn<br/>s.360.cn<br/>qurl.f.360.cn<br/>reg.hao.360.cn

                    top10m     nosfx  app   ok  nx    nx/app
          unique      mean      mean  sum  sum sum      mean
bdn
whoer.net     16  366326.0  0.001025  159  128  31  0.378125
360.cn         6   43304.0  0.000010   55   53   2  0.033333

                  dn  \
                 num
bdn
adformdsp.net      2
eshopcomp.com      5
winnerical.info    3
tractions.biz      1
hokynar.eu         1
onimp03.com        1
ads.cc             1
sonux.cz           2
kingallshare.com   1
wdgserv.com        1

                                                                                                                 \
                                                                                                       examples
bdn
adformdsp.net                                                         s1.adformdsp.net<br/>server.adformdsp.net
eshopcomp.com     pstatic.eshopcomp.com<br/>istatic.eshopcomp.com<br/>app.eshopcomp.com<br/>jsgnr.eshopcomp.com
winnerical.info                    zigad.winnerical.info<br/>mnh.winnerical.info<br/>direct_pop.winnerical.info
tractions.biz                                                                                     tractions.biz
hokynar.eu                                                                                           hokynar.eu
onimp03.com                                                                                     ads.onimp03.com
ads.cc                                                                                              beta.ads.cc
sonux.cz                                                                              www.sonux.cz<br/>sonux.cz
kingallshare.com                                                                               kingallshare.com
wdgserv.com                                                                            weatherblink.wdgserv.com

                     nosfx   app    ok  nx
                      mean   sum   sum sum
bdn
adformdsp.net     0.009120  1538  1538   0
eshopcomp.com     0.000179  1392  1392   0
winnerical.info   0.000006  1282  1282   0
tractions.biz     0.000629  1120  1120   0
hokynar.eu        0.998213  1070  1070   0
onimp03.com       0.000007   956   956   0
ads.cc            0.000002   772   772   0
sonux.cz          0.000252   610   610   0
kingallshare.com  0.000029   554   554   0
wdgserv.com       0.672388   548   548   0

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,17/32,locate.madserver.net<br/>superyou.zapto.org<br/>www.sonux.czhttp<br/>crimenc5wxi63f4r.onion,0.077478,1454,727,727

                                                                                                                                            dn  \
                                                                                                                                 Four examples
bdn
whoer.net                  wpcek1432762.br.whoer.net<br/>uderg1431531.br.whoer.net<br/>sqzbm1432762.br.whoer.net<br/>rkyxt1432758.br.whoer.net
facebook.com                   5-undefined.facebook.com<br/>1-undefined.facebook.com<br/>6-undefined.facebook.com<br/>4-undefined.facebook.com
dnsfor[0-9].(com|net|org)                                          ns1.dnsfor4.com<br/>ns1.dnsfor3.com<br/>ns1.dnsfor2.com<br/>ns1.dnsfor1.org
twitter.com                                 p.twitter.com<br/>platform.twitter.com<br/>cdn.syndication.twitter.com<br/>syndication.twitter.com

                                    top10m     nosfx   app    ok   nx  \
                          unique      mean      mean   sum   sum  sum
bdn
whoer.net                     55  366326.0  0.000323   928   814  114
facebook.com                  24       2.0  0.000084  1800  1779   21
dnsfor[0-9].(com|net|org)     18       NaN  0.000039    42    21   15
twitter.com                    8       5.0  0.000114   795   775   20

                             nx/app
                               mean
bdn
whoer.net                  0.441818
facebook.com               0.112500
dnsfor[0-9].(com|net|org)  0.375000
twitter.com                0.056250

                                   dn                                     \
                                  num                           examples
bdn
hulnfqtslpbwctkyxgqluoxkx.org       1      hulnfqtslpbwctkyxgqluoxkx.org
zthubydughaxlbizttwsinmb.info       1      zthubydughaxlbizttwsinmb.info
mrjxtorvtgydvcrslnqoghtus.info      1     mrjxtorvtgydvcrslnqoghtus.info
mnlushyplndmkvjztskbrgtpru.biz      1     mnlushyplndmkvjztskbrgtpru.biz
dmkjeybqeaorbigetswgegmda.org       1      dmkjeybqeaorbigetswgegmda.org
qpflvxrrjbuknskwzvgwkyt.info        1       qpflvxrrjbuknskwzvgwkyt.info
kzfayxscepzqkguyhsmfkbbmqgjf.info   1  kzfayxscepzqkguyhsmfkbbmqgjf.info
onxuhatvheqgyxbydypzhbykz.org       1      onxuhatvheqgyxbydypzhbykz.org
ijkhafitxkbkrwgqjztgtstayh.com      1     ijkhafitxkbkrwgqjztgtstayh.com
dukzofukjfnrnypmwpyhlzh.org         1        dukzofukjfnrnypmwpyhlzh.org

                                      nosfx  app   ok   nx
                                       mean  sum  sum  sum
bdn
hulnfqtslpbwctkyxgqluoxkx.org      0.999895  286  144  142
zthubydughaxlbizttwsinmb.info      0.999999  285  143  142
mrjxtorvtgydvcrslnqoghtus.info     0.999992  285  143  142
mnlushyplndmkvjztskbrgtpru.biz     0.999840  285  143  142
dmkjeybqeaorbigetswgegmda.org      0.999997  285  143  142
qpflvxrrjbuknskwzvgwkyt.info       0.999997  285  143  142
kzfayxscepzqkguyhsmfkbbmqgjf.info  0.999996  285  143  142
onxuhatvheqgyxbydypzhbykz.org      0.999992  285  143  142
ijkhafitxkbkrwgqjztgtstayh.com     0.999990  285  143  142
dukzofukjfnrnypmwpyhlzh.org        0.999994  285  143  142

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,2637/2637,ifnfknlflnvlnvcifxinymvqofmeu.biz<br/>tswsowozxcubmldrebmwtoce.com<br/>vwrgyjzxgnblibddmpaemfmjozai.ru<br/>hesjrttydhphetlfygus.biz,0.998983,465782,232916,232866
0.30,35/35,kvdiqowozeykrtwxklyhheusw.com<br/>byljmqczhdqvsxfybeizzcp.com<br/>pbucwslsttpztnjjneiaqhzhdq.com<br/>eynvuohqvolndmpofaenvjzh.com,0.999964,5905,3923,1982
0.40,1/1,qorofmjnvbapzvkguojauzsoaqk.org,0.999993,174,100,74
0.35,1/1,xpvxckjvcydmdyypeqmjoqttt.com,0.999997,168,109,59
0.10,1/1,dbmknpruovaicqcueywcukvkpjv.info,0.999995,230,201,29
0.20,2/2,obyhpvsuxkataqjlordfeh.ru<br/>dhapbcrgjntouctwbyhxeiiz.ru,0.999998,8,6,2

Empty DataFrame
Columns: [(dn, Four examples), (dn, unique), (top10m, mean), (nosfx, mean), (app, sum), (ok, sum), (nx, sum), (nx/app, mean)]
Index: []

                  dn  \
                 num
bdn
147.in-addr.arpa   1
yahoodns.net       9
psmtp.com         34
pphosted.com      16
GOOGLE.COM         3
ctmail.com         1
ass-concerts.de    2
vmb-1.com          2
fincomplex.ru      2
lidiasoselia.ru    2

                                                                                                                                                           \
                                                                                                                                                 examples
bdn
147.in-addr.arpa                                                                                                               216.83.32.147.in-addr.arpa
yahoodns.net                                 mta5.am0.yahoodns.net<br/>mta7.am0.yahoodns.net<br/>mta6.am0.yahoodns.net<br/>mx2.sbcglobal.am0.yahoodns.net
psmtp.com             automatedconcepts.com.s8a1.psmtp.com<br/>kaplan.edu.s8a1.psmtp.com<br/>Friedbergjcc.org.s8a1.psmtp.com<br/>dwkcb.com.s6a1.psmtp.com
pphosted.com      mxb-000cb501.gslb.pphosted.com<br/>mxa-0015db01.gslb.pphosted.com<br/>mxa-000f3001.gslb.pphosted.com<br/>mxa-0015b201.gslb.pphosted.com
GOOGLE.COM                                                                     ASPMX.L.GOOGLE.COM<br/>ALT2.ASPMX.L.GOOGLE.COM<br/>ALT1.ASPMX.L.GOOGLE.COM
ctmail.com                                                                                                                               p.nsm.ctmail.com
ass-concerts.de                                                                                                  ass-concerts.de<br/>mail.ass-concerts.de
vmb-1.com                                                                                                                    mail.vmb-1.com<br/>vmb-1.com
fincomplex.ru                                                                                                       relay.fincomplex.ru<br/>fincomplex.ru
lidiasoselia.ru                                                                                                  lidiasoselia.ru<br/>mail.lidiasoselia.ru

                     nosfx  app   ok  nx
                      mean  sum  sum sum
bdn
147.in-addr.arpa  0.000001  681  681   0
yahoodns.net      0.000097  482  482   0
psmtp.com         0.000122   98   98   0
pphosted.com      0.000005   60   60   0
GOOGLE.COM        0.000007   56   56   0
ctmail.com        0.000006   34   34   0
ass-concerts.de   0.000076   32   32   0
vmb-1.com         0.000016   32   32   0
fincomplex.ru     0.000190   32   32   0
lidiasoselia.ru   0.000312   32   32   0

       bdn/dn                                   dn     nosfx app  ok  nx
          num                             examples      mean sum sum sum
nx/app
0.45      2/2  maxinomina.com<br/>mail.aa-mail.net  0.345744   6   3   3
0.30      1/1                        ecomrider.com  0.000543   6   4   2

Empty DataFrame
Columns: [(dn, Four examples), (dn, unique), (top10m, mean), (nosfx, mean), (app, sum), (ok, sum), (nx, sum), (nx/app, mean)]
Index: []

                         dn  \
                        num
bdn
forcedsharetraktor.live   1
digimerge.net            14
uromatalieslave.space     1
donweb-homeip.net        13
vpwww.bid                35
synterrarealty.com        1
ghostofsweden.se          1
entrepots-anr.fr         18
pandeysfresh.in           1
picc.info                 4

                                                                                                                                                                                                                                                    \
                                                                                                                                                                                                                                          examples
bdn
forcedsharetraktor.live                                                                                                                                                                                                    forcedsharetraktor.live
digimerge.net                                                                                                                                              syen.digimerge.net<br/>bakh.digimerge.net<br/>barx.digimerge.net<br/>aess.digimerge.net
uromatalieslave.space                                                                                                                                                                                                        uromatalieslave.space
donweb-homeip.net                                                                                                           sampleresumeformat.donweb-homeip.net<br/>moin.donweb-homeip.net<br/>zingi.donweb-homeip.net<br/>cain.donweb-homeip.net
vpwww.bid                                                                                                                                                                  4uq.vpwww.bid<br/>nx1.vpwww.bid<br/>o8c.vpwww.bid<br/>www.jt1.vpwww.bid
synterrarealty.com                                                                                                                                                                                                              synterrarealty.com
ghostofsweden.se                                                                                                                                                                                                              www.ghostofsweden.se
entrepots-anr.fr         volet-roulant-en-panne-chatenay-sur-seine.entrepots-anr.fr<br/>volet-roulant-en-panne-guermantes.entrepots-anr.fr<br/>volet-roulant-en-panne-samois-sur-seine.entrepots-anr.fr<br/>val-de-marne.category.entrepots-anr.fr
pandeysfresh.in                                                                                                                                                                                                                www.pandeysfresh.in
picc.info                                                                                                                                         ebusinessemarketing.picc.info<br/>beauty.picc.info<br/>careers.picc.info<br/>education.picc.info

                            nosfx   app    ok  nx
                             mean   sum   sum sum
bdn
forcedsharetraktor.live  0.000236  4953  4953   0
digimerge.net            0.015215   448   448   0
uromatalieslave.space    0.025195   352   352   0
donweb-homeip.net        0.000349   348   342   6
vpwww.bid                0.237127   298   298   0
synterrarealty.com       0.395452   296   296   0
ghostofsweden.se         0.000039   232   232   0
entrepots-anr.fr         0.000506   216   216   0
pandeysfresh.in          0.000123   168   168   0
picc.info                0.000014   145    72   0

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,1202/1232,www.minpeche.gov.mg<br/>www.cjxex.com<br/>lastminutegalapagosdeals.com.greencloud.zone<br/>livezindi1.top,0.080216,14318,7159,7159
0.20,1/1,parceiros.vulcanequipamentos.com.br,0.124150,8,6,2

                                                                                                                                                                           dn  \
                                                                                                                                                                Four examples
bdn
blg.lt                                                             canal284.4.c.uni.blg.lt<br/>waval58.5.c.uni.blg.lt<br/>wwww374.9.a.uni.blg.lt<br/>uayao911.20.d.uni.blg.lt
donweb-homeip.net                                      sampleresumeformat.donweb-homeip.net<br/>moin.donweb-homeip.net<br/>zingi.donweb-homeip.net<br/>cain.donweb-homeip.net
netdna-ssl.com      fixyourbrowser-brcxaoawlauo.netdna-ssl.com<br/>zone1-ycnga1auy5o.netdna-ssl.com<br/>creativity-wpengine.netdna-ssl.com<br/>rpcs-energyhill.netdna-ssl.com
smart-hosting.info                                   ekylylyd.smart-hosting.info<br/>jywoniy.smart-hosting.info<br/>uholapu.smart-hosting.info<br/>zysamom.smart-hosting.info
comwp-login.php            www.ankaradakarot.comwp-login.php<br/>rebranding-africa.comwp-login.php<br/>www.ramsl-attersee.comwp-login.php<br/>eastwindbrokers.comwp-login.php
comxmlrpc.php                      nighthawksdiner.comxmlrpc.php<br/>rebranding-africa.comxmlrpc.php<br/>www.ankaradakarot.comxmlrpc.php<br/>www.ramsl-attersee.comxmlrpc.php

                              top10m     nosfx  app   ok   nx    nx/app
                   unique       mean      mean  sum  sum  sum      mean
bdn
blg.lt                 27  4552931.0  0.037108  320  164  156  0.433333
donweb-homeip.net      13        NaN  0.000349  348  342    6  0.034615
netdna-ssl.com         13    70455.0  0.501106  212  206    6  0.034615
smart-hosting.info     12        NaN  0.000020  144   72   72  0.450000
comwp-login.php        10        NaN  0.000000   62   31   31  0.450000
comxmlrpc.php           5        NaN  0.000000   20   10   10  0.450000

           dn  \
          num
bdn
smis.cc  2373
pcg.su   1741
ccl.su   1347
jcy.su     58
leq.su     59
gah.cc      1
kirr.cc     6
amia.cc    24
elg.cc      1
ehk.su     42

                                                                                                         \
                                                                                               examples
bdn
smis.cc                 smis.cc<br/>tvlvnj61g1t2j.smis.cc<br/>qr07rtf.smis.cc<br/>9oo1vggb66fzc.smis.cc
pcg.su                      pcg.su<br/>m859dl7o.pcg.su<br/>381z3ubp1m.pcg.su<br/>m4xhy95w9eci4z8.pcg.su
ccl.su                   ccl.su<br/>224puvd2bkwm9uq.ccl.su<br/>jv50ivmsn2w.ccl.su<br/>moklegvv67.ccl.su
jcy.su                                jcy.su<br/>b138s7p.jcy.su<br/>19fc6yyw5.jcy.su<br/>dcuytkb.jcy.su
leq.su                      leq.su<br/>swm6d97mo.leq.su<br/>lkcwpuoizmfu3zj75.leq.su<br/>9wdvheg.leq.su
gah.cc                                                                                           gah.cc
kirr.cc               eqbrqtnxxdn.kirr.cc<br/>kirr.cc<br/>uhqdee5pj.kirr.cc<br/>w8oxg7xsxdiq82j.kirr.cc
amia.cc  smblrbeyts2k3mq88.amia.cc<br/>s51gxdioelyz.amia.cc<br/>nynqugqon6.amia.cc<br/>thz146zn.amia.cc
elg.cc                                                                                           elg.cc
ehk.su      4dbv4h6x36.ehk.su<br/>weno3hjp410xn2z.ehk.su<br/>5eimvd.ehk.su<br/>8mf1y27c7ynnd3e1d.ehk.su

            nosfx    app    ok    nx
             mean    sum   sum   sum
bdn
smis.cc  0.032145  11660  6889  4771
pcg.su   0.139370   8304  4649  3651
ccl.su   0.034333   8104  5142  2824
jcy.su   0.476210   6769  6619   108
leq.su   0.129163   5790  5592   108
gah.cc   0.029550   4035  4035     0
kirr.cc  0.425517   3246  3246     0
amia.cc  0.256066   3068  3068     0
elg.cc   0.023775   2904  2904     0
ehk.su   0.649130   2889  2882     0

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,7/5520,224puvd2bkwm9uq.ccl.su<br/>tvlvnj61g1t2j.smis.cc<br/>m859dl7o.pcg.su<br/>381z3ubp1m.pcg.su,0.072279,11518,5759,5759
0.35,2/2,smis.cc<br/>pcg.su,0.000409,11367,7157,4210
0.25,1/1,ccl.su,0.002866,5275,3726,1411
0.00,4/4,leq.su<br/>paly.cc<br/>jcy.su<br/>sags.cc,0.001097,15745,15433,177
0.30,4/17,eztir0b4jtki.smis.cc<br/>i32yrxporlux44c.smis.cc<br/>pxbv2w0wlhxa.jcy.su<br/>igwjrsl.smis.cc,0.240463,51,34,17
0.20,2/10,1hr5cqn.smis.cc<br/>860ds58evj804cxir.smis.cc<br/>kvtg3fqs.smis.cc<br/>x7hcmavd6q7ie5i.smis.cc,0.000479,40,26,10
0.40,1/1,0gfgg6vbj2v.smis.cc,0.000039,5,3,2

                                                                                                dn  \
                                                                                     Four examples
bdn
smis.cc            smis.cc<br/>tvlvnj61g1t2j.smis.cc<br/>qr07rtf.smis.cc<br/>9oo1vggb66fzc.smis.cc
pcg.su                 pcg.su<br/>m859dl7o.pcg.su<br/>381z3ubp1m.pcg.su<br/>m4xhy95w9eci4z8.pcg.su
ccl.su              ccl.su<br/>224puvd2bkwm9uq.ccl.su<br/>jv50ivmsn2w.ccl.su<br/>moklegvv67.ccl.su
leq.su                 leq.su<br/>swm6d97mo.leq.su<br/>lkcwpuoizmfu3zj75.leq.su<br/>9wdvheg.leq.su
jcy.su                           jcy.su<br/>b138s7p.jcy.su<br/>19fc6yyw5.jcy.su<br/>dcuytkb.jcy.su
paly.cc  paly.cc<br/>ugrkz82szcb3ngl.paly.cc<br/>yoi32zp50tct6x52.paly.cc<br/>muf233tg2tro.paly.cc
sags.cc   sags.cc<br/>i90t6w6zqwc3kz.sags.cc<br/>6zmfv07tcqmpcuxy.sags.cc<br/>vj08qly0kps4.sags.cc

               top10m     nosfx    app    ok    nx    nx/app
        unique   mean      mean    sum   sum   sum      mean
bdn
smis.cc   2373    NaN  0.032145  11660  6889  4771  0.435651
pcg.su    1741    NaN  0.139370   8304  4649  3651  0.448679
ccl.su    1347    NaN  0.034333   8104  5142  2824  0.449406
leq.su      59    NaN  0.129163   5790  5592   108  0.381356
jcy.su      58    NaN  0.476210   6769  6619   108  0.375000
paly.cc     58    NaN  0.104857   1342  1225   114  0.442241
sags.cc      6    NaN  0.330233   2206  2196    10  0.375000

                          dn  \
                         num
bdn
messagingengine.com        1
digitalwaves.co.nz         1
rapstar.com                1
juno.net                   1
honey-do-this.com          1
goldcockerelbooks.co.uk    1
chataddict.com             1
kalteng.net                1
psmtp.com                440
avinalarf.co.uk            1

                                                                                                                                                      \
                                                                                                                                            examples
bdn
messagingengine.com                                                                                                     in1.smtp.messagingengine.com
digitalwaves.co.nz                                                                                                          mail7.digitalwaves.co.nz
rapstar.com                                                                                                                              rapstar.com
juno.net                                                                                                                                    juno.net
honey-do-this.com                                                                                                                  honey-do-this.com
goldcockerelbooks.co.uk                                                                                                      goldcockerelbooks.co.uk
chataddict.com                                                                                                                        chataddict.com
kalteng.net                                                                                                                              kalteng.net
psmtp.com                hodes.com.s7b2.psmtp.com<br/>hodes.com.s7a2.psmtp.com<br/>spencertech.com.s7b2.psmtp.com<br/>spencertech.com.s7b1.psmtp.com
avinalarf.co.uk                                                                                                                      avinalarf.co.uk

                            nosfx     app      ok    nx
                             mean     sum     sum   sum
bdn
messagingengine.com      0.000005  132827  132809     0
digitalwaves.co.nz       0.000006  132707  132667     0
rapstar.com              0.000016    4033    4033     0
juno.net                 0.000148    4026    4026     0
honey-do-this.com        0.000089    3981    1999  1982
goldcockerelbooks.co.uk  0.000007    3948    3942     0
chataddict.com           0.000442    3869    3863     0
kalteng.net              0.000059    3777    3776     0
psmtp.com                0.000049    2432    1688    98
avinalarf.co.uk          0.001387    2160    2160     0

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,1039/1055,honey-do-this.com<br/>gcse.comgcse.com<br/>elijahsfm.com<br/>dynranver.com,9.388192e-01,29253,14653,14600
0.40,4/14,avictorias.com.bak-mx.na0108.smtbak.com<br/>ujkf<br/>ilkk<br/>uko,7.149568e-02,229,128,98
0.00,4/12,ALT1.ASPMX.L.GOOGLE.com<br/>ASPMX.L.GOOGLE.com<br/>ALT2.ASPMX.L.GOOGLE.com<br/>ASPMX2.GOOGLEMAIL.com,3.981831e-05,3235,2185,35
0.35,2/3,dem<br/>cpm<br/>cheapcaribbean.com.s9a2.psmtp.com,6.862965e-07,72,45,27
0.20,9/13,shuofrpvcyukzgqnjbykrvkddu.com<br/>prdqjfhwookftucvkwclhyzlyt.biz<br/>ylhqlrgqxgordeytindafukreqjvtw.info<br/>abrepro.com.1.arsmtp.com,4.616070e-01,108,83,25
0.30,2/6,thecmafoundation.org.s8a3.psmtp.com<br/>ASPMX3.L.GOOGLE.COM<br/>ASPMX2.L.GOOGLE.COM<br/>olinbrass.com.s8b2.psmtp.com,2.463146e-05,54,31,18
0.25,3/3,server14.idealhost.ws<br/>m03.internetmailserver.net<br/>eaeobxgtsvsjzljwkskvcaegqyay.net,3.333945e-01,30,21,9

                                                                                                                                                                                  dn  \
                                                                                                                                                                       Four examples
bdn
psmtp.com                                                hodes.com.s7b2.psmtp.com<br/>hodes.com.s7a2.psmtp.com<br/>spencertech.com.s7b2.psmtp.com<br/>spencertech.com.s7b1.psmtp.com
ukw                                                                                                                                                    dem<br/>comq<br/>hlp<br/>jjro
arsmtp.com                                       abrepro.com.1.arsmtp.com<br/>becksclassic.com.2.0001.arsmtp.com<br/>abrepro.com.2.arsmtp.com<br/>becksclassic.com.1.0001.arsmtp.com
mxlogic.net                  now-zen.com.inbound30.mxlogic.net<br/>now-zen.com.inbound10.mxlogic.net<br/>now-zen.com.inbound20.mxlogic.net<br/>silverback7.com.inbound15.mxlogic.net
outlook.com         ms99216328.msv1.invalid.outlook.com<br/>technogestass-com.mail.eo.outlook.com<br/>eliodeo-net.mail.protection.outlook.com<br/>dipolar-com-au.mail.eo.outlook.com
smtproutes.com  nhbody.com.bak-mx.smtproutes.com<br/>nhbody.com.pri-mx.smtproutes.com<br/>sheratonokc.com.pri-mx.na0103.smtproutes.com<br/>curemark.com.pri-mx.na0103.smtproutes.com
serverdata.net                                  east.smtp.exch027.serverdata.net<br/>west.smtp.exch027.serverdata.net<br/>east.smtp.exch026.serverdata.net<br/>smtp20.serverdata.net
appriver.com                                                                 server504.appriver.com<br/>server505.appriver.com<br/>server111.appriver.com<br/>server110.appriver.com
google.com                                                                             aspmx.l.google.com<br/>alt1.aspmx.l.google.com<br/>alt2.aspmx.l.google.com<br/>www.google.com
GOOGLE.COM                                                                       ASPMX3.L.GOOGLE.COM<br/>ASPMX2.L.GOOGLE.COM<br/>ALT2.ASPMX.L.GOOGLE.COM<br/>ALT1.ASPMX.L.GOOGLE.COM
GOOGLE.com                                                                                 ALT1.ASPMX.L.GOOGLE.com<br/>ASPMX.L.GOOGLE.com<br/>ALT2.ASPMX.L.GOOGLE.com<br/>GOOGLE.com

                          top10m     nosfx     app      ok   nx    nx/app
               unique       mean      mean     sum     sum  sum      mean
bdn
psmtp.com         440        NaN  0.000049    2432    1688   98  0.025909
ukw                92        NaN  0.000000     622     516  106  0.044565
arsmtp.com         82        NaN  0.000062     510     392    8  0.015854
mxlogic.net        40  7783504.0  0.000105     243     179    6  0.026250
outlook.com        31     4672.0  0.000377     302     251   11  0.024194
smtproutes.com     21        NaN  0.000065     127      98    4  0.030952
serverdata.net     18   216019.0  0.000056     182     128    8  0.011111
appriver.com       16   439710.0  0.000055     114      88   10  0.062500
google.com         12        3.0  0.000031  268784  267931  123  0.004167
GOOGLE.COM          6        NaN  0.000030     455     322   16  0.100000
GOOGLE.com          5        NaN  0.000031    1464     970   15  0.000000

                       dn  \
                      num
bdn
upcbusiness.at          1
telenet-ops.be          9
ns0.ovh.net             1
udag.de                 3
patioart.ge             1
abcpartner.de           3
de-nserver.de          32
as9143.net              1
ogicom.net             28
alfahosting-server.de  27

                                                                                                                                                                          \
                                                                                                                                                                examples
bdn
upcbusiness.at                                                                                                                                       mail.upcbusiness.at
telenet-ops.be         popimaphobo04-vip.telenet-ops.be<br/>212-123-8-60.ifiber.telenet-ops.be<br/>popimapnocm03-vip.telenet-ops.be<br/>popimapnocm02-vip.telenet-ops.be
ns0.ovh.net                                                                                                                                                  ns0.ovh.net
udag.de                                                                                                                    pop3.udag.de<br/>smtp.udag.de<br/>pop.udag.de
patioart.ge                                                                                                                                              www.patioart.ge
abcpartner.de                                                                                     smtp.abcpartner.de<br/>mxsgg01.abcpartner.de<br/>mxsgg02.abcpartner.de
de-nserver.de                               server670-han.de-nserver.de<br/>server1178-han.de-nserver.de<br/>server189-han.de-nserver.de<br/>server968-han.de-nserver.de
as9143.net                                                                                                                                pop-new.tb.mail.iss.as9143.net
ogicom.net                                                                   v463.vps.ogicom.net<br/>s44-mail.ogicom.net<br/>s36-mail.ogicom.net<br/>s12-mail.ogicom.net
alfahosting-server.de            alfa3032.alfahosting-server.de<br/>alfa3019.alfahosting-server.de<br/>alfa3092.alfahosting-server.de<br/>alfa3024.alfahosting-server.de

                          nosfx  app   ok  nx
                           mean  sum  sum sum
bdn
upcbusiness.at         0.000029  604  604   0
telenet-ops.be         0.000011  302  302   0
ns0.ovh.net            0.000005  274  274   0
udag.de                0.000013  256  256   0
patioart.ge            0.000141  228  228   0
abcpartner.de          0.000005  178  178   0
de-nserver.de          0.000066  154  151   3
as9143.net             0.000006  152  152   0
ogicom.net             0.004083  148  148   0
alfahosting-server.de  0.000114  142  142   0

,bdn/dn,dn,nosfx,app,ok,nx
,num,examples,mean,sum,sum,sum
nx/app,,,,,,
0.45,128/142,resmail-prd-dc1-pop3-vip.bc<br/>pop01-cluster.nexlink.ch<br/>rs-0-237.acens.net<br/>s15.mynet.at,0.003584,496,248,248

                                                                                                                                                                         dn  \
                                                                                                                                                              Four examples
bdn
de-nserver.de                                  server670-han.de-nserver.de<br/>server1178-han.de-nserver.de<br/>server189-han.de-nserver.de<br/>server968-han.de-nserver.de
unifiedlayer.com                192-185-109-20.unifiedlayer.com<br/>192-185-194-60.unifiedlayer.com<br/>192-185-169-47.unifiedlayer.com<br/>192-185-89-112.unifiedlayer.com
stratoserver.net                                        h1317164.stratoserver.net<br/>h1978820.stratoserver.net<br/>h1992093.stratoserver.net<br/>h2182223.stratoserver.net
aruba.it                                    mxavas.aruba.it<br/>mxd3.aruba.it<br/>host212-249-110-95.serverdedicati.aruba.it<br/>host100-195-58-185.serverdedicati.aruba.it
onlinehome-server.info      s15346846.onlinehome-server.info<br/>s15381387.onlinehome-server.info<br/>s15297799.onlinehome-server.info<br/>s17471428.onlinehome-server.info
natrohost.com                                                   cluster11.natrohost.com<br/>cluster06.natrohost.com<br/>cluster09.natrohost.com<br/>cluster10.natrohost.com
whmpanels.com                                               server-0094i00.whmpanels.com<br/>server-0104.whmpanels.com<br/>server-0084.whmpanels.com<br/>uamt.whmpanels.com
superhosting.bg         host125-139.superhosting.bg<br/>host-164-138-219-75.superhosting.bg<br/>host-164-138-218-65.superhosting.bg<br/>host-195-191-149-35.superhosting.bg
versatel.de                                                                                mx01.versatel.de<br/>mx02.versatel.de<br/>mx.versatel.de<br/>ens30fl.versatel.de
inmotionhosting.com                        ecbiz60.inmotionhosting.com<br/>vps5296.inmotionhosting.com<br/>dedicated2073.inmotionhosting.com<br/>biz104.inmotionhosting.com

                                  top10m         nosfx  app   ok  nx    nx/app
                       unique       mean          mean  sum  sum sum      mean
bdn
de-nserver.de              32        NaN  6.633396e-05  154  151   3  0.028125
unifiedlayer.com           26  1726368.0  9.949256e-07   54   36  18  0.294231
stratoserver.net           17  3173527.0  4.781001e-06   58   57   1  0.026471
aruba.it                   15    49973.0  1.012427e-05  310  298  12  0.120000
onlinehome-server.info     15   791920.0  1.719458e-05   86   84   2  0.060000
natrohost.com              13  9845487.0  3.731183e-06   60   36  24  0.380769
whmpanels.com               9        NaN  7.303830e-06   52   51   1  0.050000
superhosting.bg             9  1989792.0  1.857128e-06   18   10   8  0.400000
versatel.de                 6  2014510.0  1.032131e-04  146   78  68  0.150000
inmotionhosting.com         5     3864.0  9.445311e-06   10    9   1  0.090000

In [5]:
import re

def correct_table_dynamic(result):
    regex = r"[ ]+"
    subst = " "
    result = re.sub(regex, subst, result, 0, re.MULTILINE)

    regex = r"^(.*?) \& \\begin\{tabular"
    subst = "\\\\multicolumn{1}{l}{\\1}\\\\\\\\\\n\\\\begin{tabular"
    result = re.sub(regex, subst, result, 0, re.MULTILINE)

    regex = r"\{\} & "
    subst = ""
    result = re.sub(regex, subst, result, 0, re.MULTILINE)

    regex = r"^bdn & & & & & & & & \\\\\n"
    subst = ""
    result = re.sub(regex, subst, result, 0, re.MULTILINE)

    regex = r"\{llrrrrrrr\}"
    subst = "{rrrrrrrr}"
    result = re.sub(regex, subst, result, 0, re.MULTILINE)

    return result

def correct_table_bdn(result):
    regex = r"[ ]+"
    subst = " "
    result = re.sub(regex, subst, result, 0, re.MULTILINE)

    regex = r"\_"
    subst = "\\_"
    result = re.sub(regex, subst, result, 0, re.MULTILINE)

    regex = r"^(.*?) \& (\d+/\d+) \& \\begin\{tabular"
    subst = "\\\\multicolumn{1}{l}{\\1} & \\2 \\\\\\\\\\n\\\\begin{tabular"
    #result = re.sub(regex, subst, result, 0, re.MULTILINE)

    regex = r"lrlrrrr"
    subst = "lrrrrrr"
    result = re.sub(regex, subst, result, 0, re.MULTILINE)

    regex = r"(\d+)\s+\\\\\n(?!\\\w*?rule)"
    subst = "\\1 \\\\\\\\ \\\\cline{3-3}\n"
    result = re.sub(regex, subst, result, 0, re.MULTILINE)
    
    return result



def correct_table_nx(result):
    regex = r"[ ]+"
    subst = " "
    result = re.sub(regex, subst, result, 0, re.MULTILINE)

    regex = r"\_"
    subst = "\\_"
    result = re.sub(regex, subst, result, 0, re.MULTILINE)

    regex = r"lllrrrr"
    subst = "llrrrrr"
    result = re.sub(regex, subst, result, 0, re.MULTILINE)
    

    return result

In [6]:
def malwares_tofile():
    
    
    navbar = """
    <div class="col-2">
    <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column">
        <a class="navbar-brand" href="#">Navbar</a>
        <nav class="nav nav-pills flex-column">"""

    for _,mw in df_malware.iterrows():
        navbar += """<a class="nav-link" href="#malware_%d">[%d] %s -- %s</a>\n""" % (mw["id"], mw["id"], mw['binary'], mw['name'])
    
    navbar += """
        </nav>
      </nav>
      </div>"""

    str_ = """<div class="col-10">
        <div class="spyclass" data-spy="scroll" data-target="#navbar-example3" data-offset="0">
        <div class="container">
          <div class="d-flex justify-content-center">
            <div class="p-2">
              <h1 id="intro">Introduzione</h1>
              <ul>
                <li><b>bdn</b>: base domain name, ovvero gmail.google.com -> google.com</li>
                <li><b>dn</b>: domain name, ovvero gmail.google.com -> gmail.google.com</li>
                <li><b>app</b>: numero di apparizioni per un dn o un bdn. Nel caso di bdn, può essere associato il numero di dn. Ad esempio
                  bdn="google.com" compare con tre dn diversi: "gmail.google.com", "drive.google.com", "maps.google.com"
                </li>
                <li><b>ok</b>: numero di apparizioni che hanno avuto response con rcode=0
                <li><b>nx</b>: numero di apparizioni che hanno avuto response con rcode=nx
                  <li><b>nx/app</b>: raggruppamento con il rapporto nx/app, ovvero raggruppa tutti quei dn che hanno lo stesso rapporto nx/app
                    <li><b>bdn/dn</b>:  numero di bdn per quel raggruppamento nx/app rapportato al numero di dn. bdn &le; dn
                </li>
                <li></li>
                <li><b>DNS providers</b>: raggruppamento per bdn, filtraggio con nx &gt; 0 & dn &gt; 5. Il filtraggio dn &gt; 5 è dovuto appunto al fatto
                  che i dynamic dns provider presentano uno stesso bdn per diversi dn (colonna unique). bdn esempi ddns: whoer.net, dnsfor.*
                </li>
              </ul>
            </div>
          </div>
        </div>
        """
    for _,mw in df_malware.iterrows():
        str_ += print_malware(mw["id"]) + "\n<hr><hr>\n"

    str_ += """</div></div>"""

    with open('/home/princio/Desktop/ciao/index.html', 'w') as f:
        f.write("""
        <!doctype html>
        <html lang="en">
        <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">

          <title>A Basic HTML5 Template</title>
          <meta name="description" content="A simple HTML5 Template for new projects.">
          <meta name="author" content="SitePoint">

          <meta property="og:title" content="A Basic HTML5 Template">
          <meta property="og:type" content="website">
          <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
          <meta property="og:description" content="A simple HTML5 Template for new projects.">
          <meta property="og:image" content="image.png">

          <link rel="icon" href="/favicon.ico">
          <link rel="icon" href="/favicon.svg" type="image/svg+xml">
          <link rel="apple-touch-icon" href="/apple-touch-icon.png">


          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

          <style>
            .spyclass {
              position: relative;
              height: 800px;
              overflow: auto;
            }

            table {
              width: 1000px;
              border: none;
            }

            th {
              border-right: 1px solid black;
              border-bottom: 1px solid black;
              border-left: none;
              border-top: none;
            }

            tr,
            td,
            th {
              border: none;
            }

            .container {
              margin-bottom: 100px;
            }
          </style>

        </head>
        <body>
  <div class="row">
""")

        f.write(navbar)

        
        f.write(str_.replace("Checkpoint link: https://blog.checkpoint.com/2015/07/02/matsnu-a-new-malware-discovery/", """<a href="https://blog.checkpoint.com/2015/07/02/matsnu-a-new-malware-discovery/">Checkpoint link</a>"""))

        f.write("""
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        </body>
        </html>
    """)